[2018-07-17 17:08] jonfroehlich commented on #452
Can you update this Issue with more details. Please include the current path where the SW figures are being stored, the exact error that you are receiving (with links to online discussions about it, if possible), your exact proposed path change.

[2018-07-17 17:22] johnsonkuang commented on #452
I don’t have a screen cap of the exact error I’m receiving, however the original path was to navigate to the base directory and then append ‘/import/images/StarWarsFiguresFullSquare/Rebels/’ to it. I would suggest a similar approach; however, we cannot navigate to the base directory in the same way because the code is running from docker and the images are stored locally.

Sent from Mail<https://g

[2018-07-17 17:22] johnsonkuang commented on #452
could we somehow keep the images online and then random select from there?

[2018-07-17 17:50] jonfroehlich commented on #452
The solution is to just have them in the media dir imo, as we discussed.

[2018-07-18 21:55] jonfroehlich opened #455 "Isotopify people page"
@ShivenBhatt and I discussed this in person.

![image](https://user-images.githubusercontent.com/1621749/42909918-7af6ac14-8a9a-11e8-888a-97ad7d0185ee.png)

[2018-07-18 22:38] jonfroehlich opened #456 ""To appear" is showing up for every pub"
"To appear" is showing up for every pub. It should only show up for those pubs that have a publication date ahead of the current date.

![image](https://user-images.githubusercontent.com/1621749/42911623-a815f960-8aa0-11e8-9a9b-6725f76e375f.png)

[2018-07-19 02:59] jonfroehlich opened #457 "Update layout of current members"
In preparation for isotopifying (https://github.com/jonfroehlich/makeabilitylabwebsite/issues/455).

[2018-07-19 15:51] ShivenBhatt opened #459 "Can't make migrations or run server on newest version of master"
When I clone the newest version of master and run python manage.py makemigrations website, I get this:
[code]
My guess is that this is related to the Rest API johnson was making, but it's either unfinished or broken. I suggest reverting commits until it works. We cannot build on top of a broken master.

[2018-07-19 15:53] #459 closed

[2018-07-19 17:13] #452 closed

[2018-07-19 17:13] johnsonkuang commented on #450
Try manipulating the z-index of the different containers to stack the two elements closer

[2018-07-19 17:56] #457 closed

[2018-07-19 17:57] jonfroehlich commented on #455
We are now ready for this @ShivenBhatt. I've updated the people page:

![image](https://user-images.githubusercontent.com/1621749/42961014-65f5b32a-8b42-11e8-8aa9-ab29401e1885.png)

We have four categories of ML people: Current Members, Past Members, Current Collaborators, and Past Collaborators. For each category, there is an h4 subheader that should be isotopified for filtering. Let me know if y

[2018-07-19 17:58] jonfroehlich opened #463 "Fix alignment of h4 subheaders on people page"
The h4 subheaders are not properly left aligned with the h1s and content:

![image](https://user-images.githubusercontent.com/1621749/42961115-a3a84ad4-8b42-11e8-9b7e-f51f0eed9adf.png)

@ShivenBhatt, perhaps you can fix this when you isoptopify this page.

[2018-07-19 18:11] jonfroehlich opened #464 "Need to show earliest date for members"
Because of the way position tracking works on our website, I'm currently shown only as being a member of the ML group since 2017 rather than 2012. This is because in 2017, I got a new position (Associate Professor at UW). Similarly, for Mikey, he graduated with MS and then became a Research Scientist, but his date started should show original date.

![image](https://user-images.githubusercontent.c

[2018-07-19 21:21] jonfroehlich opened #465 "Fix alignment of "See All Projects >" on landing page"
This ”see all projects >” should be perfectly right aligned with the right edge of the project images. This is how it works for talks, papers, and other entities on the landing page

![image](https://user-images.githubusercontent.com/1621749/42970718-f2226d18-8b5e-11e8-9df1-a0dd550d072b.png)

[2018-07-19 21:22] jonfroehlich opened #466 "Increase vertical whitespace between project rows on landing page"
![image](https://user-images.githubusercontent.com/1621749/42970792-2017e04a-8b5f-11e8-981f-3c4b680f3652.png)

There should be increased whitespace (maybe ~10 pixels) beneath the title of a project and the next row

[2018-07-19 22:58] jonfroehlich commented on #429
I just tried this on a second Windows machine and ran into the same issue:

[code]

[2018-07-19 23:12] jonfroehlich commented on #429
Fixed it. Lots of people talking about this problem on the web. The fix was to change the apt-get stuff to a single line in the Dockerfile:

[code]
to:
[code]

[2018-07-19 23:26] jonfroehlich commented on #429
Argh, almost there. I got through every step except for now I'm stuck on Step 13 of the readme.md instructions:

I tried doing that but received an error:
[code]

[2018-07-19 23:35] jonfroehlich commented on #429
Hmm, from my reading, this may be related to LF vs. CRLF line endings on Linux vs. Windows. I don't think I did Step 6 from the instructions, which state:

I'm gonna try again but do this and report back. Since I use the github desktop tool, not sure how to do this exactly...

[2018-07-19 23:57] jonfroehlich commented on #429
Aha, so following Step 6 fixed it. Yay!

[2018-07-19 23:57] #429 closed

[2018-07-20 01:08] ShivenBhatt commented on #429
Thanks @jonfroehlich!

[2018-07-20 12:06] #464 closed

[2018-07-20 12:12] jonfroehlich commented on #456
I tried fixing this briefly but couldn't figure it out. See branch https://github.com/jonfroehlich/makeabilitylabwebsite/tree/fix-to-appear-bug-on-pubs. Note that if we isotopify this page, then we'll no longer rely on the javascript version to show/hide fields anyway...

[2018-07-20 12:18] jonfroehlich opened #467 "News Page Issues"
We just pulled @johnsonkuang's news-listing stuff to master but there are a few problems.

![image](https://user-images.githubusercontent.com/1621749/43002022-2f2daf88-8bdc-11e8-9192-d6e7d496b183.png)

- [x] The thumbnail showing on the news-listing should be the actual image used in the news item. If and only if no image was supplied should the thumbnail default to the "news icon" image. Currentl

[2018-07-20 12:27] jonfroehlich opened #468 "Remove strange dependency so website will work with empty database"
@johnsonkuang made some sort of change in the Django 2.0 upgrades that breaks hosting the website from a fresh build (with no data). This should not happen and needs to be fixed.

@johnsonkuang, can you fill in the particulars of the problem below and then prepare a fix. We (@johnsonkuang, me, and @ShivenBhatt) discussed this yesterday.

[2018-07-20 12:28] #252 closed, assigned to nobody

[2018-07-20 12:29] #246 closed

[2018-07-20 12:30] #241 closed

[2018-07-20 12:31] jonfroehlich opened #469 "Consider integrating people snippets into indproject.html"
The indproject.html page also displays people. Should probably rework this just like I did people.html to use re-usable snippets (in fact, I think we could likely just use display_people_snippet.html)

[2018-07-20 12:33] jonfroehlich commented on #394
Can you provide more information about this? Maybe some screenshots?

Also, I see that @ShivenBhatt added a pull request tag, what's the pull request number?

[2018-07-20 12:35] jonfroehlich commented on #244
We got rid of these news feed on landing page, so closing Issue.

[2018-07-20 12:35] #244 closed

[2018-07-20 12:36] jonfroehlich commented on #233
This is related to https://github.com/jonfroehlich/makeabilitylabwebsite/issues/420. Current plan is to use the API @johnsonkuang is developing along with new Django commands to bootstrap content on dev machines

[2018-07-20 12:37] jonfroehlich commented on #231
We are going a different direction with bootstrapping content on dev machines so closing this.

[2018-07-20 12:37] #231 closed

[2018-07-20 12:37] #219 closed

[2018-07-20 12:38] #201 closed

[2018-07-20 12:39] #430 closed

[2018-07-20 12:40] jonfroehlich commented on #437
Fixed!

[2018-07-20 12:40] #437 closed

[2018-07-20 12:40] jonfroehlich commented on #436
Fixed!

[2018-07-20 12:40] #436 closed

[2018-07-20 12:41] jonfroehlich commented on #442
Fixed by reverting back to old field type.

[2018-07-20 12:41] #442 closed

[2018-07-20 13:00] ShivenBhatt commented on #394
The pull request number is #397. While doing unit tests on the website, we found this bug, and the video title generation bug (#392). Both are fixed in #397.

[2018-07-20 13:09] jonfroehlich commented on #394
Thanks. Just reviewed and asked for changes.

Also, that PR description is inadequate. It should say exactly what is
being fixed in the PR.

On Fri, Jul 20, 2018 at 6:00 AM, ShivenBhatt <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroe

[2018-07-20 13:39] ShivenBhatt commented on #394
Duh oh. Sorry about that PR. It really was terrible.

Another problem: I wrote that PR a really long time ago, and now there are a ton of merge conflicts. I think it might be better if I make a new PR and branch off of master with these changes (since they're not that big).

[2018-07-20 13:50] jonfroehlich commented on #394
Ok. Why don’t you create Issues for the problems you found (and tried to fix) so there’s a record and then close the PR. We’ll loop back around later.

I’d rather you work on your other assigned Issues for now.

Sent from my iPhone

[2018-07-20 14:07] ShivenBhatt commented on #394
The issues are already here: #392, #394. I'll close the PR.

[2018-07-20 21:51] ShivenBhatt commented on #463
This is resolved in #472

[2018-07-21 08:57] alexjk38 commented on #412
Short video clip after change: https://cl.ly/3n443B3V2Y3x
After screenshot:
<img width="1440" alt="screen shot 2018-07-21 at 1 56 34 am" src="https://user-images.githubusercontent.com/32470028/43034037-55681898-8c89-11e8-8684-704d0af88746.png">

[2018-07-21 15:41] jonfroehlich commented on #412
Can you add a brief before video clip too so we can see difference? Nice job

Sent from my iPhone

[2018-07-21 16:47] alexjk38 commented on #412
Should be included now

[2018-07-22 22:57] aileenzeng opened #475 "Certain papers associated with videos don't have working links"
If I mouse over the Paper link for the Social Fabric Fitness video, then it will direct me to makeabilitylab-test.cs.washington.edu/media. This will return a 403 Forbidden site error.

List of Videos with broken Paper links:
* Characterizing Street-level Accessibility At Scale
* BodyVis CHI 2015 Conference Presentation Leyla Norooz
* Understanding the Role of Thermography in Energy Auditing: Curre

[2018-07-23 17:15] jonfroehlich opened #477 "makeabilitylab-test is down"
Not sure why. It was working over the weekend. We need to look at the log file.

![image](https://user-images.githubusercontent.com/1621749/43092225-5028ed74-8e61-11e8-9894-bf3ec7efd2d0.png)

[2018-07-23 17:46] jonfroehlich commented on #477
Yah, me too. Strangeness. Closing.

[2018-07-23 17:46] #477 closed

[2018-07-23 17:49] jonfroehlich opened #479 "Content creation TODOs"
- [ ] Make thumbnails for all projects
- [ ] Make initial project pages for all projects
- [ ] Add in News content
- [x] Add in Papers from 2016-2018
- [x] Add in all MS and PhD thesis from ML (https://github.com/jonfroehlich/makeabilitylabwebsite/issues/497)
- [ ] Add in Videos from 2016-2018
- [ ] Add in talks from 2016-2018

[2018-07-24 22:42] #475 closed

[2018-07-24 22:50] jonfroehlich commented on #465
Oops. Your fix fixed "See All Projects" but broke the alignment of all the other 'See All' links. See below. They need to perfectly right align with the content.

![image](https://user-images.githubusercontent.com/1621749/43170254-2c65b9f0-8f59-11e8-98a3-f1f407d59e8e.png)

![image](https://user-images.githubusercontent.com/1621749/43170280-398a2de6-8f59-11e8-8a73-4398b7c62559.png)

[2018-07-24 23:22] jonfroehlich commented on #446
This was addressed in https://github.com/jonfroehlich/makeabilitylabwebsite/pull/478

[2018-07-24 23:22] #446 closed

[2018-07-24 23:34] jonfroehlich opened #481 "Issues with Isotope Implementation of People Page"
- [ ] Take out the word "Filter By:" and just start with the hyperlinked position categories
![image](https://user-images.githubusercontent.com/1621749/43171400-d1bed580-8f5e-11e8-846b-1ac253f5c7e4.png)
- [ ] Add in a filter bar beneath each header: Current Team, Alumni, Current Collaborators, and Past Collaborators. The filter bar currently only exists for Current Team
- [ ] When I click on Profe

[2018-07-25 14:50] jonfroehlich opened #482 "Need to Ensure Makeability Lab website is accessible to screen readers"
Here are some tools that we could use to test accessibility compliance: https://www.w3.org/WAI/ER/tools/

[2018-07-25 17:38] jonfroehlich commented on #411
Oops, @aileenzeng, we'll need to do foreground black color rather than foreground white color for favicon. Just open up the current favicon in your favorite editor and invert the colors. I can do this for you quickly if it's inconvenient for you.

![image](https://user-images.githubusercontent.com/1621749/43217556-d01196b2-8ff6-11e8-8d06-d9acd754840d.png)

[2018-07-25 17:50] aileenzeng commented on #411
@jonfroehlich Just updated the favicon in #484

[2018-07-25 18:31] jonfroehlich commented on #477
Sounds good @mechanicjay. Thanks for all your help so far. We really love the auto-deploy scripts! :)

[2018-07-25 20:08] #481 closed

[2018-07-25 20:12] jonfroehlich opened #485 "New Issues with People Page"
I pushed @ShivenBhatt's newest PR to makeabilitylab-test. However, a few things:

- [ ] Filtering is broken.

[code]

- [ ] Mouseover on filter links shows text edit cursor rather than mouse over cursor
![image](https://user-images.githubusercontent.com/1621749/43224754-08a08a5a-900c-11e8-917b-c6eb99a92084.png)

- [ ] Put ~5 px of margin-below the filter list
![image](https://user-images.githubuse

[2018-07-25 20:12] jonfroehlich commented on #411
Looks great now.

![image](https://user-images.githubusercontent.com/1621749/43224865-6f1170d8-900c-11e8-86f0-0c6d4f3e7d33.png)

[2018-07-25 20:14] jonfroehlich opened #486 "People Page Broken on Mobile"
![img_6697](https://user-images.githubusercontent.com/1621749/43224915-a0155e38-900c-11e8-95a1-80b29b1cb7a2.PNG)

[2018-07-25 20:33] aileenzeng opened #487 "Can't open Talk PDFs from mobile"
I'm using an iPhone + chrome browser. When I tap on the talk image, it doesn't do anything, and there aren't any alternative links I can use.

[2018-07-25 20:41] ShivenBhatt commented on #485
wierd... gridName is not defined shouldn't be happening with the newest version of the code. I got rid of the gridName variable and am now using an object to keep the data about each individual isotope grid.

When I looked at the website I couldn't replicate the first two bugs for some reason. Mouseover seems to work fine and filtering works fine, no errors. I'm thoroughly confused.

[2018-07-25 20:48] ShivenBhatt commented on #486
This looks like old behavior that I fixed in the last pull request. Possibly related to what I said in #485. Didn't see this behavior when I looked at the website. Could you somehow be running the old code?

[2018-07-25 21:10] jonfroehlich commented on #485
OK, I just forced refresh of webpage and filtering and mouseover worked again. However, you still need to fix the two other issues. Plus theses new ones:

- [ ] Should have a max of 5 people per row.
![image](https://user-images.githubusercontent.com/1621749/43227625-12c4e032-9014-11e8-9aa4-09f114ab4319.png)

- [ ] Should limit width to the blue lines shown in this screenshot: https://github.com/j

[2018-07-25 21:15] ShivenBhatt commented on #485
Question: should the size of the person increase for larger screen sizes? Do we crop? Should the height change, or just the width? Do we handle this like videos on the landing page?

[2018-07-25 21:52] jonfroehlich commented on #485
Size should not change. No need to crop.

[2018-07-25 21:53] jonfroehlich commented on #486
Definitely. This was a screenshot from yesterday's version. I can test
again.

On Wed, Jul 25, 2018 at 1:48 PM, ShivenBhatt <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2018-07-25 23:23] #450 closed

[2018-07-25 23:37] jonfroehlich opened #488 "Width of Top Menu Bar Broke"
With a recent PR, we broke the menu bar resizing.

The makeabilitylab.cs.washington.edu shows the correct behavior, which limits the max width to 1170px:

[code]

![image](https://user-images.githubusercontent.com/1621749/43232988-8b806712-9028-11e8-96d9-ae897c4d4f86.png)

On the ml-test website with the new menu bar code, the menu bar stretches the full extent of the window. This looks bad on lar

[2018-07-26 03:57] johnsonkuang commented on #467
first two problems have been resolved

I'm interested in how line clamping would work and would be willing to experiment with it for the time being.

[2018-07-26 14:34] aileenzeng opened #489 "Background missing on overlay (mobile)"
![7f928be8-412d-4315-8a8a-c2d896e58ba8](https://user-images.githubusercontent.com/25534091/43268600-e708d506-90a5-11e8-80a6-6ba1d71553f1.png)

This seemed to be working yesterday afternoon — must have been broken in a recent PR.

[2018-07-26 14:54] jonfroehlich commented on #489
Good catch. May have broken in Shiven’s menu bar PR

Sent from my iPhone

[2018-07-26 18:09] jonfroehlich opened #490 "Auto-prefix poster and demo papers"
Auto-prefix poster and demo papers with 'Poster' or 'Demo' in the book_title short. So, a poster at ASSETS would be 'Poster Proceedings of ASSETS'17'

[2018-07-26 18:28] jonfroehlich opened #492 "Add official link to publication download area"
![image](https://user-images.githubusercontent.com/1621749/43280899-046fc7b4-90c7-11e8-93a5-7ca3a5475131.png)

[2018-07-26 19:29] jonfroehlich opened #494 "Shouldn't 'All' be bolded by default on page load to maintain IxD consistency in filter bar?"
Shouldn't 'All' be bolded by default on page load to maintain IxD consistency in filter bar?

![image](https://user-images.githubusercontent.com/1621749/43284050-863462a2-90cf-11e8-819e-7b2839e4c612.png)

[2018-07-26 19:32] jonfroehlich opened #495 "Use snippets for displaying publications on individual project and people pages"
Individual people page:
![image](https://user-images.githubusercontent.com/1621749/43284152-cb80f47e-90cf-11e8-8189-044ecb746b45.png)

Individual project page:
![image](https://user-images.githubusercontent.com/1621749/43284185-e1e3b5bc-90cf-11e8-83f4-ee189c4c6155.png)

[2018-07-26 19:39] jonfroehlich opened #496 "Bug in isotope filtering on people page"
If you click on a filter and then click somewhere else, the filter is not reset.

![makeabilitylabfilterbarbroken](https://user-images.githubusercontent.com/1621749/43284495-d540dce4-90d0-11e8-8113-ad651ab2d4c5.gif)

[2018-07-26 20:06] ShivenBhatt commented on #496
Just to be clear, do we want the filter bolding to stay after an 'away' click like this?
https://www.youtube.com/watch?v=wqneDskqoDA&feature=youtu.be
Or do we want the filter to revert to 'All'?

[2018-07-26 20:12] jonfroehlich opened #497 "Add dissertations and theses to ML publication list"

[2018-07-26 20:13] jonfroehlich commented on #496
We want the filter bolding (and the filter) to stay active unless the user clicks on a different filter

[2018-07-26 20:14] jonfroehlich commented on #496
Also, I see that in your video, you moved All to the beginning of list. I think it's fine to have at the end of the list. So, please don't change that order.

[2018-07-26 20:14] ShivenBhatt commented on #496
ok

[2018-07-26 20:35] #418 closed

[2018-07-26 20:37] jonfroehlich commented on #388
I think we can just hide the news overlay on mobile. @johnsonkuang, can you do this?

[2018-07-26 20:40] #346 closed

[2018-07-26 20:40] jonfroehlich commented on #367
@ShivenBhatt and I rewrote the code for the people page so this is no longer relevant.

[2018-07-26 20:40] #367 closed

[2018-07-26 20:41] jonfroehlich commented on #363
@aileenzeng, is this resolved? If so, you close this out?

[2018-07-26 20:49] #496 closed

[2018-07-26 21:04] jonfroehlich opened #499 "Take out console debugging printlns in isotope"
![image](https://user-images.githubusercontent.com/1621749/43288447-bc02e5f4-90dc-11e8-8a6c-f9f87ef74ad0.png)

[2018-07-26 21:34] jonfroehlich commented on #301
@ShivenBhatt, I tried to make the content-div 1400px for the landing page. See `.makelab-content-container` in index.css but I must have messed it up because the page is not rendering correctly. Can you take a look and fix it?

The Recent Projects and Recent Videos part looks OK when I fullscreen my browser but the other sections are broken.

![image](https://user-images.githubusercontent.com/1621

[2018-07-26 21:37] jonfroehlich opened #500 "News feed in wrong place on large screens"
The overlay news feed on landing page should be right aligned with the right part of the webpage. As now, it continues to move right with the browser window. See below. @ShivenBhatt, perhaps you can work on this when you're working on other landing page Issue (https://github.com/jonfroehlich/makeabilitylabwebsite/issues/301).

![image](https://user-images.githubusercontent.com/1621749/43289894-3dc

[2018-07-26 23:31] jonfroehlich opened #501 "Publication listing broken in Firefox"
Firefox does not show all of the publications loaded in the database. It has a NaN category on left sidebar with 33 entries:

![image](https://user-images.githubusercontent.com/1621749/43293845-23615f64-90f1-11e8-966e-775a01bfeaa9.png)

In addition, when you click on the sidebar, you receive
`TypeError: clickedElement is undefined[Learn More] publications:6099:1 `

[2018-07-26 23:37] aileenzeng commented on #363
Yup - should be. Probably got fixed in #405

[2018-07-26 23:37] #363 closed

[2018-07-26 23:48] #494 closed

[2018-07-27 19:14] jonfroehlich opened #502 "Add project links to pubs, talks, etc."
As we begin injecting projects into the ML website, need to add project links to papers, talks, video listings, etc.

![image](https://user-images.githubusercontent.com/1621749/43342151-910de1d6-9196-11e8-857c-97e354ef8311.png)

[2018-07-31 13:56] johnsonkuang commented on #487
@aileenzeng could you post a screenshot, it might help to id the problem.

[2018-07-31 14:48] johnsonkuang opened #505 "Landing page footer broken"
The css restraints for the size of the footer on the landing page appears to have been broken.
Here is a picture of what I see when I navigate to the bottom of the home page:
[![Image from Gyazo](https://i.gyazo.com/4c3b0d115e84a1b3f175144c921b460b.png)](https://gyazo.com/4c3b0d115e84a1b3f175144c921b460b)

This problem doesn't seem to have occurred on other pages

[2018-07-31 15:09] johnsonkuang commented on #388
This issue has already been addressed, #408 addresses the needed changes. So I think we can close this issue. The restriction placed on the screen width is 600 px, anything wider than that will display the overlay banner, narrower and it will set display to none.
[![Image from Gyazo](https://i.gyazo.com/2d1a58d6890de0fde19da80af79e62a2.png)](https://gyazo.com/2d1a58d6890de0fde19da80af79e62a2)

[2018-07-31 16:28] ShivenBhatt commented on #463
This was resolved when we merged #470. Fix is already on the website:
![image](https://user-images.githubusercontent.com/21998904/43473100-0bd260d0-94a4-11e8-809b-a7edfeb6227a.png)

[2018-07-31 16:32] ShivenBhatt commented on #448
This was resolved when we merged #460. Fix is already on the website:
![image](https://user-images.githubusercontent.com/21998904/43473288-9564c2b6-94a4-11e8-8ba2-8627efe98ae7.png)
We should close this issue.

[2018-07-31 16:35] ShivenBhatt commented on #441
This was fixed when we merged #460. The fix is already on the website. We should close this issue.

[2018-07-31 16:40] jonfroehlich commented on #463
Thanks. Closing.

[2018-07-31 16:40] #463 closed

[2018-07-31 21:13] jonfroehlich opened #506 "Department Should Not Be Required"
Doesn't make sense for certain positions like high school students.

![image](https://user-images.githubusercontent.com/1621749/43487557-fb661df4-94e4-11e8-8adc-d2c39a1db514.png)

Should also check for this when displaying departments (e.g., on people page, etc.). That is, don't display a Department if the field is `Null`.

[2018-07-31 21:36] aileenzeng commented on #487
![d59857b7-e18c-429e-98da-0e488bab7405](https://user-images.githubusercontent.com/25534091/43488590-17790670-94cf-11e8-841d-cd60429fd317.png)

[2018-07-31 21:46] jonfroehlich commented on #487
I’m pretty sure it’s because they use pop-ups over the thumbnail. I haven’t checked myself though to verify.

Sent from my iPhone

[2018-08-01 16:02] #388 closed

[2018-08-01 16:02] ShivenBhatt commented on #489
This was fixed by #491. Closing this issue now.

[2018-08-01 16:02] #489 closed

[2018-08-01 16:06] ShivenBhatt commented on #486
this was fixed already. Code is up on the website. Was fixed in #493.

[2018-08-01 16:06] ShivenBhatt commented on #486
this was fixed already. Code is up on the website. Was fixed in #493.

[2018-08-01 16:06] #486 closed

[2018-08-01 16:10] ShivenBhatt commented on #315
This is fixed in #508.

[2018-08-01 16:12] johnsonkuang commented on #423
Pull request merged #422

[2018-08-01 16:12] #423 closed

[2018-08-01 16:13] ShivenBhatt commented on #441
This was fixed when we merged #460. The fix is already on the website. I'm closing this issue.

[2018-08-01 16:13] #441 closed

[2018-08-01 16:14] ShivenBhatt commented on #448
This was resolved when we merged #460. Fix is already on the website:
![image](https://user-images.githubusercontent.com/21998904/43473288-9564c2b6-94a4-11e8-8ba2-8627efe98ae7.png)
I'm closing this issue.

[2018-08-01 16:55] jonfroehlich commented on #448
I actually have a comment about this and it’s behavior. So can we reopen? Otherwise, I guess I can open a new ticket.

Sent from my iPhone

[2018-08-01 16:56] ShivenBhatt commented on #448
reopening issue.

[2018-08-01 17:33] jonfroehlich opened #510 "Consider upgrading to Django 2.1. Just released Aug 1, 2018"
See https://docs.djangoproject.com/en/2.1/releases/2.1/

[2018-08-01 17:36] ShivenBhatt commented on #465
@jonfroehlich, this issue is fixed in #509.

[2018-08-01 18:00] ShivenBhatt commented on #392
@jonfroehlich, this is fixed in #511.

[2018-08-01 18:01] ShivenBhatt commented on #394
@jonfroehlich, this is fixed in #511

[2018-08-01 18:01] ShivenBhatt commented on #396
@jonfroehlich, this is fixed in #511

[2018-08-01 18:05] #392 closed

[2018-08-01 18:05] #394 closed

[2018-08-01 18:05] #396 closed

[2018-08-01 19:27] jonfroehlich commented on #440
Fixed in https://github.com/jonfroehlich/makeabilitylabwebsite/issues/440

[2018-08-01 19:27] #440 closed

[2018-08-01 19:32] jonfroehlich commented on #448
I don't like how the items resize (and the black shadows/outlines that then exist). Why does that happen now? Why can't things just resize like on the [people page](https://makeabilitylab-test.cs.washington.edu/people/) and the [talks page](https://makeabilitylab-test.cs.washington.edu/talks/). Note how here the size of the thumbnails stays the same. Why the difference?

[2018-08-01 19:37] jonfroehlich commented on #301
Can we please fix this? I had originally assigned @johnsonkuang and it didn't get done. Then I assigned @ShivenBhatt and I haven't seen any progress. So, please prioritize this and https://github.com/jonfroehlich/makeabilitylabwebsite/issues/505 (which are related).

[2018-08-01 20:56] ShivenBhatt commented on #448
I initially did it because when the landing page had other issues you asked me to copy the video behavior for talks and projects, since that worked. The video behavior at the time included black backgrounds and scaling, so I copied that behavior.

This shouldn't be too difficult to implement. I'll get back with the fix soon.

[2018-08-01 21:00] jonfroehlich commented on #448
I think the current behavior for the videos is fine but not for other subsections. Thanks.

Sent from my iPhone

[2018-08-02 13:12] ShivenBhatt commented on #301
@jonfroehlich, fixed, pull request is at #514.

[2018-08-02 18:36] johnsonkuang commented on #501
Pull Request #515 addresses this issue, closing issue

[2018-08-02 18:36] #501 closed

[2018-08-02 18:37] johnsonkuang commented on #468
Pull request submitted and merged, closing issue.

[2018-08-02 18:37] #468 closed

[2018-08-02 18:38] johnsonkuang commented on #421
Pull request submitted and merged, closing issue

[2018-08-02 18:38] #421 closed

[2018-08-02 21:03] #301 closed

[2018-08-02 21:03] #448 closed

[2018-08-02 21:03] #505 closed

[2018-08-02 21:15] jonfroehlich commented on #500
In fact, I think the news feed should also just be right-aligned with the content like this:

![image](https://user-images.githubusercontent.com/1621749/43611613-8e11f32e-965e-11e8-9436-3513f2284de2.png)

[2018-08-02 21:24] jonfroehlich opened #518 "Content on landing page and "See all..." statements still not properly aligned"
![image](https://user-images.githubusercontent.com/1621749/43612004-c3784e9a-965f-11e8-9d1c-67a443ebe7e7.png)

[2018-08-02 21:35] jonfroehlich opened #519 "Talk Content Collision on Landing Page"
With a recent PR, the talk text content on landing page now collides between rows. Needs to be fixed.

![image](https://user-images.githubusercontent.com/1621749/43612440-37a740a4-9661-11e8-9ff2-6fd086011608.png)

[2018-08-02 21:47] aileenzeng opened #520 "Can't click on Projects from landing page / projects page on mobile"
When I try to tap on a project image or name (iPhone, Chrome) on the landing page / projects page, nothing happens. This is a similar to #487.

[2018-08-02 21:51] jonfroehlich opened #521 "Default News Thumbnail Should be Same Size as Other Thumbnails"
Default news thumbnail is too big on news listing. See screenshot.

![image](https://user-images.githubusercontent.com/1621749/43613191-6aed29fe-9663-11e8-805c-adbb2e0b1735.png)

[2018-08-02 21:55] jonfroehlich opened #522 "Responsiveness of Recent Projects and Recent Talks Broken"
Ideally, when you shrink down the webpage, the "Recent Projects" and "Recent Talks" content would not show a massive gap as the columns go from four to three. Instead, I would hope for much more fluid scaling (like the thumbnails shrink or the margins between thumbnails shrink or something)--much more like Recent Papers.

See: https://media.giphy.com/media/1ykCOH5Ak30uPvbhFF/giphy.gif

@ShivenBhat

[2018-08-02 21:58] ShivenBhatt commented on #522
I could remove the black shadows, then we would just have a resizing thumbnail. In that case, the alignment problems with "see all" would also be fixed.

[2018-08-02 22:02] jonfroehlich opened #523 "Fix sub-titles of videos on Videos Page"
![image](https://user-images.githubusercontent.com/1621749/43613614-e69a2bb4-9664-11e8-8195-ff7bfdb3efd9.png)

Should look to see if the sub-title is available. If not, show nothing.

Also, need to add some sub-titles to a lot of these videos. Like my UW research talk should be labeled as such.

[2018-08-02 22:08] jonfroehlich opened #524 "Oops, why aren't eight projects showing on landing page"
![image](https://user-images.githubusercontent.com/1621749/43613809-c4f2a3d2-9665-11e8-81a0-476ab6472412.png)

My guess is this is related to a fix by @alexjk38. He didn't realize that we prefilter the list of projects to eight using Django's template language but his code checks for "empty projects" and doesn't display those and so we never actually get to eight on the landing page.

[2018-08-02 22:09] jonfroehlich opened #525 "Projects are not hyperlinked on landing page"

[2018-08-02 22:11] jonfroehlich commented on #522
Great idea. Let’s try it!

Sent from my iPhone

[2018-08-02 22:28] jonfroehlich opened #527 "Just uploaded a talk but get 403 Forbidden when trying to download it"
I just uploaded a talk on makeability-test and while it shows up on the landing page, when I click on it, I get a 403 Forbidden page. Interestingly, I've uploaded and tested publications and those work fine... but just not the talks. I wonder why...

![image](https://user-images.githubusercontent.com/1621749/43614473-7656ef0a-9668-11e8-8205-1a612fe70d75.png)

![image](https://user-images.githubuse

[2018-08-02 22:29] jonfroehlich opened #528 "Auto-rename uploaded talk, publication filenames"
I just noticed that we don't automatically rename talk filenames on upload. Oops. We should do this (and check to make sure we do it for pubs too).

For talks, the format should be `AuthorLastName_TalkTitle_Year.pdf`

![image](https://user-images.githubusercontent.com/1621749/43614559-c8eb28a8-9668-11e8-859e-32fec0e533be.png)

[2018-08-02 22:30] jonfroehlich commented on #524
Yep.

[2018-08-02 22:31] #522 closed

[2018-08-02 22:39] jonfroehlich opened #529 "Talk thumbnails on landing page are cut off"
Compare the thumbnails on the talks page vs. the landing page. On the landing page, the thumbnails are cut off on edges. This problem does not exist on talks page. (Note, however, that I much prefer the layout and rendering of the talks on the landing page. So, when we eventually create a Django snippet for this, it should be based on the landing page version).

Talks page:
![image](https://user-i

[2018-08-02 22:45] jonfroehlich opened #530 "Talks page has weird gaps in rows sometimes"
![image](https://user-images.githubusercontent.com/1621749/43615127-12343836-966b-11e8-828f-9d7b4aff6844.png)

We need to update the talk rendering anyway to use a snippet (based on landing page) and to isotopify the page... Can take care of this when we do that...

[2018-08-02 22:47] jonfroehlich opened #531 "Add 'Talk Type' field"
- Invited Talk
- Conference Talk
- MS Defense
- PhD Defense
- Guest Lecture
...

What else?

[2018-08-02 22:55] ShivenBhatt commented on #519
Fixed by #526

[2018-08-02 22:55] #519 closed

[2018-08-02 22:55] ShivenBhatt commented on #518
Fixed by #526

[2018-08-02 22:55] #518 closed

[2018-08-02 22:59] jonfroehlich opened #532 "News footer--too much space between date and title"
There is still too much space between date and title. Could likely be cut by half.

![image](https://user-images.githubusercontent.com/1621749/43615544-070afb8c-966d-11e8-9524-7975beff64d3.png)

[2018-08-03 00:50] ShivenBhatt commented on #529
unfortunately, that's the only way I could come up with to keep the scaling working. The alternative is that the talks change height when they exceed the cropping box, but this makes things look worse.

We're in a bit of a tight spot since using the talks page layout makes our content misaligned with "see all" because of margins, but using my current landing page layout necessitates cropping so th

[2018-08-03 01:53] ShivenBhatt commented on #530
That's weird, #399 should have fixed this. When I look at talks.css on the master, the change is there, but it's not there on the website.  The issue should be fixed if we can find a way to get the changes made in #399 onto the website.

[2018-08-03 17:06] aileenzeng commented on #527
@mechanicjay Do you think you could take a look at this issue when you have time? (I didn't see anything in the `debug.log` that looked relevant)

[2018-08-03 17:13] jonfroehlich opened #534 "Oops, need to make all previous and past lab members (and collaborators) available as speakers when adding a talk"
This is Leyla's ICLS talk but I can't add her as a speaker because of how I filtered out names...

![image](https://user-images.githubusercontent.com/1621749/43656026-d0ec5f2a-9705-11e8-9266-473d9694c5cc.png)

**Need to change the following**
Leyla should be the speaker for:
- https://makeabilitylab-test.cs.washington.edu/admin/website/talk/619/change/

[2018-08-03 17:21] jonfroehlich opened #535 "Ack, Server Error on makeabilitylab-test talks page"
I seemingly can load other pages though...

![image](https://user-images.githubusercontent.com/1621749/43656344-f922ac5a-9706-11e8-98d2-094a183d239f.png)

[2018-08-03 17:27] aileenzeng commented on #535
Here's a snippet from the log -- looks like there's something funky going on w/ `cap_title`:

[code]

[2018-08-03 17:46] aileenzeng commented on #535
@mechanicjay Do you think you could also take a look at this if you have time?

[2018-08-03 18:06] johnsonkuang commented on #467
PR merged, closing issue

[2018-08-03 18:06] #467 closed

[2018-08-03 18:19] mechanicjay commented on #535
I'll be able to take a look this afternoon.

--Jason

On August 3, 2018 10:46:34 AM PDT, Aileen Zeng <notifications@github.com> wrote:

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2018-08-03 19:53] jonfroehlich commented on #535
If it’s related to cap title code, that was added by the high school interns very early on and perhaps not properly tested. Before we bother Jason, this code should be checked and verified that it works in a local dev environment. Johnson or Shiven should do this.

Sent from my iPhone

[2018-08-03 22:32] #500 closed

[2018-08-03 22:32] #532 closed

[2018-08-03 22:35] mechanicjay commented on #535
Thanks Jon, will hold off till I hear back from you guys on this.

[2018-08-03 22:38] jonfroehlich commented on #535
I believe either @ShivenBhatt or @johnsonkuang wrote the code for the cap_title stuff and should test and fix this. See the error log that @aileenzeng posted here: https://github.com/jonfroehlich/makeabilitylabwebsite/issues/535#issuecomment-410322142. Key portion:

[code]

Did you guys test this code locally by uploading and trying to access talk pdf and pptx files? If not, please do so and repor

[2018-08-03 22:58] #534 closed

[2018-08-03 23:02] jonfroehlich commented on #534
And indeed this was fixed in https://github.com/jonfroehlich/makeabilitylabwebsite/commit/0612569b32c09dfd38fd794180496bf7df3dea33

[2018-08-03 23:06] jonfroehlich commented on #530
Also exists on project pages. For example, on the BodyVis project page:

https://makeabilitylab-test.cs.washington.edu/project/BodyVis/

Ultimately, we need to fix this by using snippets because there is an incredible amount of copy/pasted code currently for all sorts of things (e.g., talk rendering code exists on landing page, talks page, project page, and an individual person's page). This shoul

[2018-08-03 23:27] jonfroehlich opened #538 "Projects on project page should be ordered by most recent artifact"
Projects on project page should be ordered by most recent artifact (talk, publication, or video)

![image](https://user-images.githubusercontent.com/1621749/43669745-283fc576-973a-11e8-938c-bceed2b9e120.png)

[2018-08-03 23:38] jonfroehlich opened #539 "Some talks are video recorded but talks has no video field"
Need to add a video_url field to talks model.

Currently, no way to specify if there is a video to accompany a talk.

[2018-08-06 16:50] johnsonkuang commented on #521
Pull request merged, closing issue.

[2018-08-06 16:50] #521 closed

[2018-08-06 16:57] johnsonkuang commented on #525
Issue resolved on master already, closing issue.

[2018-08-06 16:57] #525 closed

[2018-08-06 16:58] johnsonkuang commented on #413
New banners not necessary, current banners are fine for the news page. Closing issue.

[2018-08-06 16:58] #413 closed

[2018-08-06 17:26] jonfroehlich commented on #530
@johnsonkuang, can you investigate this please?

[2018-08-06 17:30] jonfroehlich commented on #529
OK, given your explanation, I think it's fine. Closing issue.

[2018-08-06 17:30] #529 closed

[2018-08-06 19:00] aileenzeng opened #541 "Error 500 on person change"
Got an Error 500 message when I tried to change Angela's profile. Looks like it might just be a missing file (hopefully)

[code]

[2018-08-06 19:16] johnsonkuang commented on #535
Tested locally and all the following cases worked:
- title with special characters ( exclamation mark, quotation mark, colon, semicolon, back and forward slashes"
- title with leading spaces

There was nothing wrong in rendering them.
To create the talks, I simply editted the titles but gave arbitrary data for the rest of the required fields.

[2018-08-07 21:30] alexjk38 commented on #492
Jon writing on Alex's computer. So, to provide more info on this. After `Download: [pdf]`, I want to have `Official Link: [doi]`(if it exists).

[2018-08-08 17:01] jonfroehlich opened #544 "Admin Page for Talk Listing should have additional columns"
Add columns including talk location and date.

![image](https://user-images.githubusercontent.com/1621749/43852423-09b04372-9af2-11e8-9ed4-ad86c04033e4.png)

[2018-08-08 17:28] jonfroehlich opened #545 "Project Page: Isotopify Talks on Project Page and Personnel Pages?"
Should we isotopify talks part of the project page with the header being years (e.g., 2018 (number) / 2017 (number) / 2016 (number)). We should do this once we snippify talks.

![image](https://user-images.githubusercontent.com/1621749/43853738-d1f0c2f0-9af5-11e8-8a0c-1dc49c75791d.png)

[2018-08-09 17:13] jonfroehlich opened #546 "Need to remove makeabilitylab-test from search engines using ro"
Need to remove makeabilitylab-test from search engines using ro

![image](https://user-images.githubusercontent.com/1621749/43914422-bcd61b0a-9bbc-11e8-920a-3a92dc9a27dd.png)

See:
http://www.robotstxt.org/robotstxt.html

[2018-08-09 17:17] jonfroehlich commented on #499
@ShivenBhatt, this is easy. Can you do this quickly please.

[2018-08-09 19:10] #499 closed

[2018-08-09 20:59] johnsonkuang commented on #311
API created and merged, closing issue

[2018-08-09 20:59] #311 closed

[2018-08-09 21:00] jonfroehlich commented on #311
@johnsonkuang, do you have any documentation for how to use the API? I want to use it for my website (as noted above) and will start testing it when I dev on it.

[2018-08-09 21:47] johnsonkuang commented on #311
[Makelab REST API.docx](https://github.com/jonfroehlich/makeabilitylabwebsite/files/2276000/Makelab.REST.API.docx)

@jonfroehlich see attached document for complete documentation

[2018-08-09 21:49] johnsonkuang commented on #257
What do you mean be delete a file? As in clearing it on the admin but keeping the object, or deleting the object entirely. @jonfroehlich

[2018-08-09 22:09] jonfroehlich commented on #257
I mean that we delete it in admin page but the file in /media is not actually removed.

[2018-08-09 22:10] johnsonkuang commented on #257
So you want to delete it when you delete the object on the admin

[2018-08-09 22:11] jonfroehlich opened #548 "Update Bootstrapping Content part of README.md"
Currently refers to the old way of doing this via Jon's UMD website. Needs to be updated with @johnsonkuang's new method.

https://github.com/jonfroehlich/makeabilitylabwebsite#bootstrapping-content

![image](https://user-images.githubusercontent.com/1621749/43928638-76c32052-9be6-11e8-9869-abede7ab46cc.png)

[2018-08-09 22:12] jonfroehlich opened #549 "Add Makeability Lab REST API documentation to README.md"
@johnsonkuang just sent me a Word doc describing the REST API but this should be in the README.md.

See: https://github.com/jonfroehlich/makeabilitylabwebsite/blob/master/README.md#makeability-lab-api

[2018-08-09 22:15] aileenzeng commented on #541
I don't see a `media/images/StarWarsFiguresFullSquare/Rebels` directory on the UW servers (although all the files seem to be uploaded directly into the `/cse/web/research/makelab/www/person`).

Thinking this might be a problem w/ other code (rather than missing assets) so I'm going to unassign myself.

[2018-08-09 22:46] jonfroehlich commented on #257
That's right. Sorry that this was unclear. If you read the title of the post along with the text of the first post, it should read like "Check to see that when we delete a file like a talk or a paper, that the file is actually removed from storage."

Basically, I don't want a whole bunch of deleted files taking up storage on the web server.

[2018-08-09 22:46] jonfroehlich commented on #541
This should be a @johnsonkuang thing. Thanks for posting!

[2018-08-09 22:46] johnsonkuang commented on #257
already on it

[2018-08-10 05:49] johnsonkuang commented on #549
Pull request submitted

[2018-08-10 05:56] johnsonkuang commented on #546
If we specify in the `robots.txt` for makeabilitylab-test to exclude all robots, do we just change it when we move it onto the production server?

[2018-08-10 06:10] jonfroehlich commented on #546
It should only ever sit on the test server.

Sent from my iPhone

[2018-08-10 16:30] jonfroehlich opened #552 "Need to add Panel as a pub venue type"
![image](https://user-images.githubusercontent.com/1621749/43969766-03826086-9c80-11e8-8c64-9b098bd4cb1f.png)

[2018-08-10 16:33] jonfroehlich opened #553 "Change Talk selection interface on Publications so it doesn't use a dropdown"
Now that we have so many talks, the talk selection interface is really tedious on admin Publications. It's also not possible to distinguish different talks with same title. We should make it easier/faster to select talks and should show additional data that helps the user discriminate between talks with the same title.

![image](https://user-images.githubusercontent.com/1621749/43969888-7685737a-9

[2018-08-10 22:33] jonfroehlich opened #554 "Makeability Lab API needs to support people, news, videos, and projects"
The Makeability Lab API needs to support people, news, videos, and projects. We should also add support to import that information to enable better testing in the dev environment.

[2018-08-10 22:46] jonfroehlich opened #555 "I can no longer get my Docker instance to run the ML website"
Looks like it has something to do with @johnsonkuang's get_person stuff that he was working on...

[code]

Should I just start over with a clean instance of Docker and code? Here's the full log.

[code]

[2018-08-10 22:50] aileenzeng opened #556 "Error 500 on Talks Page (test)"
Looks like this is related to #541.

Here's the relevant snippet from the `debug.log`:
[code]

[2018-08-10 22:52] aileenzeng commented on #556
oops - duplicate issue (closing)

[2018-08-10 22:52] #556 closed

[2018-08-11 20:27] johnsonkuang commented on #555
Simple fix: navigate to the migrations directory in django and delete all of the migrations. Django migrations have dependencies that point to the previous one applied, so by deleting them all you force Django to remake all the migrations and thus remove the faulty dependency

[2018-08-11 20:28] johnsonkuang commented on #554
The original issue only contained references to bootstrapping talks and pubs, but this can be added as well.

[2018-08-11 23:04] jonfroehlich commented on #555
Do you mean navigate to migrations dir in Docker?

Sent from my iPhone

[2018-08-11 23:32] johnsonkuang commented on #555
No just go to the local migrations directory that you’re using and then delete all the migration files. That will do it.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Saturday, August 11, 2018 4:04:39 PM
To: jonfroehlich/makeabilitylabwebsite
Cc: johnsonkuang; Assign
Subject: Re:

[2018-08-13 16:51] johnsonkuang commented on #555
@jonfroehlich did the solution work?

[2018-08-13 17:21] jonfroehlich opened #557 "Update Sonika's school to 'Tesla STEM High School'"
Once we fix https://github.com/jonfroehlich/makeabilitylabwebsite/issues/541, then update Sonika's school from University of Washington to 'Tesla Stem High School.'

[2018-08-13 17:35] jonfroehlich commented on #555
I likely won't have time to work on the ML website this week. Will let you know, however.

[2018-08-13 18:06] johnsonkuang commented on #528
To be sure, multiple speakers would = `SpeakerLastName1_SpeakerLastName2_SpeakerLastNameN_TalkTitle_Year.pdf`

[2018-08-13 18:07] jonfroehlich commented on #528
No, just do `SpeakerLastName1_TalkTitle_Year.pdf`

[2018-08-13 20:25] jonfroehlich commented on #555
Isn't that what I did? Re-read my message.

[2018-08-13 20:39] jonfroehlich opened #558 "Running importpubs throws FileNotFoundError"
I was able to get importpubs to work before but now I cannot. The error thrown is:

[code]

[2018-08-14 05:06] johnsonkuang commented on #545
We could, I think that would look pretty good

[2018-08-14 20:35] jonfroehlich commented on #527
@aileenzeng, can you try clicking on a talk pdf and then verify that the talk pdfs are actually on the server?

[2018-08-14 20:38] jonfroehlich commented on #527
OK, in a meeting with @mechanicjay, he said that something is wrong on his end--some files (talks and pubs) are not getting the right permissions...

[2018-08-14 20:42] jonfroehlich commented on #527
@mechanicjay fixed the problem by changing the permissions manually but has a theory about what we need to change in our docker file to ensure this doesn't happen in future.

[2018-08-14 21:06] aileenzeng commented on #527
@jonfroehlich Looks like everything is on the server. (Files that we can't open have their owner as `nfsnobody`).

[2018-08-14 21:08] jonfroehlich commented on #555
In the end, I just started from scratch :(

[2018-08-14 21:08] #555 closed

[2018-08-14 21:10] jonfroehlich commented on #544
Fixed.

![image](https://user-images.githubusercontent.com/1621749/44118674-c6cf5c9e-9fcb-11e8-802e-35e732e49cc6.png)

[2018-08-14 21:10] #544 closed

[2018-08-14 21:16] jonfroehlich commented on #535
@johnsonkuang, you've got to prioritize this one... did you manage to finish the new import stuff? If so, can you import all of the talks off of makeabilitylab-test and run your server locally with that data--do you see the same Server Error (500) problem? I have a feeling that the cap_title code is barfing on some weird talk title (and the cap_title code is new(er)).

[2018-08-14 22:17] mechanicjay commented on #546
I have added  this to the proxy config on the -test site.

[2018-08-14 22:30] aileenzeng commented on #557
@jonfroehlich Yes - it should be fixed now.

[2018-08-14 22:30] #557 closed

[2018-08-14 22:51] #527 closed

[2018-08-14 23:11] mechanicjay opened #562 "Django currently does not start."
A recent merge broke the site,

Here is the error that is currently getting thrown from inside the docker-container.  It's not even getting to the point logging to the debug log:

[code]

[2018-08-14 23:29] mechanicjay commented on #562
Oddly enough running the code from #560 version of the repo works.

The error doesn't get thrown until running the code from PR #559

I don't know if that helps or not...

[2018-08-14 23:49] jonfroehlich commented on #562
OK, thanks. @johnsonkuang will investigate! :)

[2018-08-15 16:50] johnsonkuang commented on #528
PR Merged, closing issue.

[2018-08-15 16:56] johnsonkuang commented on #562
PR Merged, closing issue

[2018-08-15 16:56] #562 closed

[2018-08-15 22:06] jonfroehlich commented on #456
@johnsonkuang can you take a look at this one?

[2018-08-15 22:07] jonfroehlich commented on #524
@alexjk38 did you fix this? Can you give us an update?

[2018-08-15 23:03] alexjk38 commented on #524
@jonfroehlich This is finished. I believe that johnson was set to review the pull request, just waiting for authorization

[2018-08-16 04:17] ShivenBhatt commented on #386
We have a new ticket for this here: #530. I'm closing this issue.

[2018-08-16 04:17] #386 closed

[2018-08-17 16:49] #315 closed

[2018-08-17 16:49] #280 closed

[2018-08-17 18:03] johnsonkuang commented on #456
PR Merged, closing issue

[2018-08-17 18:03] #456 closed

[2018-08-17 19:40] jonfroehlich opened #568 "Videos Page: When viewing by 'Project', the videos with no Project have no header"
The talks that have no associated project are positioned first on the page. Instead, I would give them the 'Other' Category and put them at the bottom. Also, these talks currently have no header--we should put the header as 'Other'

![image](https://user-images.githubusercontent.com/1621749/44285512-893b1480-a21a-11e8-922a-ce4babd89078.png)

[2018-08-17 19:41] jonfroehlich commented on #535
How we coming on this? What if we simply set `cap_title = self.title` for now and then you try to track down the fix on your own. This way, at least the page will load.

[2018-08-17 20:47] johnsonkuang commented on #412
PR Merged, closing issue

[2018-08-17 20:47] #412 closed

[2018-08-17 20:54] johnsonkuang commented on #535
The suspicions that I had have been disproved. Initially, I thought single characters could be the cause behind the error; however, the method was able to convert the single characters to capital in a plain python environment with no problem. I did, however, find that any leading spaces or ending spaces would cause problems due to the existence of null items in the list after running split by spac

[2018-08-17 21:35] johnsonkuang opened #569 "Title capitalization not accurate"
Jon wants the title capitalization of the talks to be in correct format. See below:
[![Image from Gyazo](https://i.gyazo.com/65de4dde61938abff622551f2b63230c.png)](https://gyazo.com/65de4dde61938abff622551f2b63230c)

Words such as "and" and "the" should not be capitalized

[2018-08-17 21:36] johnsonkuang commented on #535
Server error resolved, however a new issue has resulted #569. But we've made forward progress.

[2018-08-17 21:37] johnsonkuang commented on #530
Alignment is correct on the talks page:
[![Image from Gyazo](https://i.gyazo.com/5dfb9ef0fa60c8c4c82d57a1ff3b4fd9.png)](https://gyazo.com/5dfb9ef0fa60c8c4c82d57a1ff3b4fd9)

[2018-08-17 21:40] #535 closed

[2018-08-17 21:41] #530 closed

[2018-08-17 21:41] #492 closed

[2018-08-17 21:42] #524 closed

[2018-08-17 21:43] jonfroehlich opened #570 "Don't show projects on landing page or projects page that lack thumbnails, about descriptions, pubs"
If they don't have a thumbnail, about description, or a pub.

[2018-08-17 21:44] jonfroehlich commented on #305
It's good enough for now. :)

[2018-08-17 21:45] jonfroehlich opened #571 "Responsive footer on mobile looks like crap :)"
![image](https://user-images.githubusercontent.com/1621749/44290135-26527900-a22c-11e8-8c0b-79b28aeb970d.png)

Both the blue part and the black part.

[2018-08-17 21:45] #305 closed

[2018-08-17 22:04] johnsonkuang commented on #570
about description, as in the about field in the project model?

[2018-08-17 22:06] jonfroehlich commented on #570
yep

On Fri, Aug 17, 2018 at 3:04 PM johnsonkuang <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2018-08-17 22:10] jonfroehlich opened #572 "Default sort for videos on video page should be by date"
Not sure how they are sorted now but it's certainly not by date as it should be (reverse chronological so newest videos are first):

![image](https://user-images.githubusercontent.com/1621749/44290853-931b4280-a22f-11e8-8a5d-170c12d598fc.png)

[2018-08-17 22:12] jonfroehlich opened #573 "Default sorting for projects should be by most recently published paper"
The default sorting for projects should be by most recently published paper (projects with more recently published papers should show first and then sort order is in reverse chronological)

![image](https://user-images.githubusercontent.com/1621749/44290895-ccec4900-a22f-11e8-8aae-b28269677bfd.png)

[2018-08-17 22:24] jonfroehlich opened #575 "Hmm, css not loading on admin site?"
![image](https://user-images.githubusercontent.com/1621749/44291199-a9c29900-a231-11e8-9759-24ada5df25f3.png)

@johnsonkuang, are you seeing this too?

[2018-08-17 22:26] johnsonkuang commented on #575
@mechanicjay

[2018-08-17 22:28] ShivenBhatt commented on #573
Easy way to fix. In the 'Date' class in the isotope grid, replace this:
```{{video.date.year}}{{video.date.month}}{{video.date.day}}```
with this:
```{{ video.date|date:"U" }}```

[2018-08-17 22:29] ShivenBhatt commented on #572
Easy way to fix. In the 'Date' class in the isotope grid, replace this:
```{{video.date.year}}{{video.date.month}}{{video.date.day}}```
with this:
```{{ video.date|date:"U" }}```

[2018-08-17 22:33] jonfroehlich commented on #573
But what is project.date?

[2018-08-17 22:35] aileenzeng commented on #575
Got this when I tried to click on person (from the admin site):
![image](https://user-images.githubusercontent.com/25534091/44291429-26a24280-a233-11e8-9c6d-f0365fe6ea7d.png)

[2018-08-17 23:00] jonfroehlich commented on #575
@aileenzeng, pretty sure that's unrelated. Works for me. CSS still not loading on admin site though.

[2018-08-17 23:06] jonfroehlich opened #577 "To Appear should be on same line as pub venue"
![image](https://user-images.githubusercontent.com/1621749/44292081-8e5a8c80-a237-11e8-9960-f88eb4d8fb4b.png)

[2018-08-17 23:16] jonfroehlich opened #578 "Author order messed up for pubs"
Author order is extremely important for pubs. There is a mistake in the Design of an Augmented Reality Magnification Aid for Low-Vision Users paper as it lists Leah Findlater first. Instead, Lee Stearns should hold that position. I believe this mistake was automatically introduced when I edited the video field for the paper (previously, the author order was showing up correctly). However, I can't

[2018-08-18 06:34] aileenzeng commented on #578
We have a few other that are off:
* Augmented Reality Magnification For Low Vision Users With The Microsoft Hololens And A Finger-Worn Camera
* TacTILE: A Preliminary Toolchain For Creating Accessible Graphics With 3D-Printed Overlays And Auditory Annotations
* Recognizing Clothing Colors And Visual Textures Using A Finger-Mounted Camera: An Initial Investigation
* A Temporal Thermography System F

[2018-08-21 00:01] ShivenBhatt commented on #573
sorry, should be ```{{ project.get_most_recent_publication|date:"U" }}``` not ```{{ project.date|date:"U" }}```. In any case, this is fixed in #579. #572 and #568 are fixed in #579 as well.

[2018-08-21 00:03] ShivenBhatt commented on #568
Misname of title. fixed. :)

[2018-08-22 02:20] aileenzeng opened #580 "Talk authors on landing page should link to member name"
Currently links to Member ID -- should be linking to member names instead (this should link to https://makeabilitylab.cs.washington.edu/member/leestearns/)
![image](https://user-images.githubusercontent.com/25534091/44439080-03e79500-a577-11e8-8239-f0670a077423.png)

[2018-08-23 04:17] johnsonkuang commented on #257
PR merged closing Issue

[2018-08-24 20:13] jonfroehlich commented on #575
Just checked again. Still a problem.

![image](https://user-images.githubusercontent.com/1621749/44605769-6cb15600-a79f-11e8-913d-4eb799d240a8.png)

[2018-08-24 20:13] #570 closed

[2018-08-24 20:15] jonfroehlich commented on #487
What's the status of this?

[2018-08-24 20:17] jonfroehlich commented on #393
Yes, good idea. We should make sure to help prevent user errors on data entry.

[2018-08-24 21:35] jonfroehlich commented on #528
Auto-renaming files has a problem. We should have this exactly:

`AuthorLastName_TalkTitle_Year.pdf` where TalkTitle is camel case and no underscores between words.

![image](https://user-images.githubusercontent.com/1621749/44609031-f0247480-a7aa-11e8-8157-fc269a491687.png)

[2018-08-27 02:34] johnsonkuang commented on #487
Issue was addressed in the recent push to production. PR is merged #576

[2018-08-27 13:59] jonfroehlich commented on #578
Thanks Aileen. Imo, this is the highest priority bug that needs to be fixed. Do we need to add an explicit index integer to track author order?

@johnsonkuang, can you first investigate why this is happening and how author order is currently tracked before proposing a solution?

[2018-08-27 15:39] jonfroehlich opened #581 "Need to add supplementary materials file upload option to publications"
Recently, our group has really made a push to publish supplementary materials with our papers such as survey questions, interview scripts, etc. The ACM Portal supports this (e.g., click on the 'Source Materials' tab to view the supplementary materials for [this paper](https://doi-org/10.1145/3170427.3185373)). We need to add this functionality to our website.

![image](https://user-images.githubus

[2018-08-27 15:42] jonfroehlich opened #582 "Cleanup duplicate people"
There are lots of duplicate people/authors. Each duplicate should be consolidated/merged into a single person.

[2018-08-27 15:46] jonfroehlich opened #583 "Add Making Maps Accessible and Putting Accessibility in Maps paper"
Once we get CSS working again on admin site, we need to add this paper. It's too painful to add content without CSS (and, in fact, you can't control author order given the widget that exists in the vanilla html, see below).

![image](https://user-images.githubusercontent.com/1621749/44669748-a4a1de80-a9d5-11e8-86aa-74e62889bb9b.png)

[2018-08-27 18:52] jonfroehlich opened #584 "Consider adding Awards page or even frontpage module"
Would list student and professor awards like best talks, best papers, fellowships, etc.

[2018-08-28 17:20] johnsonkuang commented on #583
Django's static files are not being loaded because they are not found in the server.
[![Image from Gyazo](https://i.gyazo.com/81983b11713dacebceb7baf4e77f1c25.png)](https://gyazo.com/81983b11713dacebceb7baf4e77f1c25)

I think we should look in the database and maybe see where the command `collectstatic` looks and check if there are the files that django is looking for. It may also be that the dock

[2018-08-29 20:04] jonfroehlich commented on #578
Shouldn't we be using the https://github.com/gregmuellegger/django-sortedm2m type for this? I see that it's already in our requirements.txt file.

@johnsonkuang, can you track down where we use sortedm2m? Seems like this is the perfect place to use it.

Also, I'd like a report on what you found regarding the multi-select widget and the order returned from that on a save...

[2018-08-29 20:26] #257 closed

[2018-08-29 20:36] johnsonkuang commented on #251
Error is in the script that loads the data from django into JSON, should be talk.forum_name, is listed as talk.location

[2018-08-30 05:51] johnsonkuang commented on #578
PR changed under #585

[2018-08-30 17:17] johnsonkuang commented on #575
I think it's a permission issue that Docker is not allowing Django to access the static files folder inside the container. I get this error locally:
[code]

[2018-08-30 17:26] jonfroehlich commented on #575
@aileenzeng, thoughts on this.

[2018-08-30 18:01] johnsonkuang commented on #569
Capitalization resolved in PR #587

[2018-08-30 18:06] aileenzeng commented on #575
Hmm I haven't seen this before. Maybe we could add a line in our Dockerfile to make sure we have the correct permissions. I'd imagine the line would be something like this, but I haven't really looked into it yet: `RUN chown <something> /code/static`

[2018-08-30 18:11] jonfroehlich commented on #575
I wonder what happened to cause this problem though since things were working before. It’s not like we had to mess around with permissions in the past for this. It’s notable that we’re experiencing this problem locally as well as on the server. Hopefully, that means it’ll be easier to track down and fix and verify that we fixed it

Sent from my iPhone

[2018-08-30 18:59] aileenzeng commented on #575
Here's the current permissions line in our Dockerfile:
[code]

We could change it to this instead:
[code]
This works locally for me -- I don't get the permissions error anymore. (`/code` is our working directory, so it's the root directory of our Django project).

 I don't know if this is the best solution because there's all sorts of other stuff in the root directory (database, all of our media..

[2018-08-30 19:47] jonfroehlich commented on #575
Let's change it for now (so we can try to get css to load again on admin, so we can start filling content again). And we can loop back and ask @mechanicjay once he's back from vacation.

Sound good?

[2018-08-31 16:29] johnsonkuang commented on #569
PR merged, closing issue

[2018-08-31 16:29] #569 closed

[2018-08-31 22:57] johnsonkuang commented on #554
PR merged closing issue

[2018-08-31 22:57] #554 closed

[2018-08-31 23:16] jonfroehlich commented on #558
@aileenzeng, are you getting this error too as you test?

[2018-09-01 00:04] aileenzeng opened #595 "Docker container is huge"
When I build my container from scratch, the image for the website is ~35 GB, which takes 5+ minutes for me to build. (In the past, our Docker container was just over 1 GB).

[2018-09-01 00:06] jonfroehlich commented on #595
Oh no! Are there Docker tools that allow us to investigate content within a container?

Sent from my iPhone

[2018-09-01 00:14] aileenzeng commented on #595
`docker exec -it <container name> bash` lets us open up an interactive bash terminal inside a running container. From there, we can go look at what sorts of files are in our docker container. I can't do it right now since I'm still building the image, but I can take a peek later!

[2018-09-01 00:26] jonfroehlich commented on #595
Oops! I wonder how that happened? Maybe the talks you just imported?

Sent from my iPhone

[2018-09-01 00:34] aileenzeng commented on #595
Yeah - just saw that. All the talks from `importtalks` in #592 are getting sent to our build context (but I don't think it has to).

[2018-09-01 02:05] jonfroehlich commented on #595
Agree. And this is only for your dev environment, right?

Sent from my iPhone

[2018-09-03 23:13] aileenzeng commented on #595
Yup -- looks like the size mostly varies w/ how much stuff is in my local media directory.

[2018-09-03 23:43] aileenzeng commented on #595
I think I found a solution, but I can't test right now because I can't run the website anymore because I can't connect to the database -- currently writing up an issue.

[2018-09-03 23:46] jonfroehlich opened #596 "Oops, site still mentions HCIL like we are located there"
![c656d155-daf1-42e0-83ae-b2fe86d81985](https://user-images.githubusercontent.com/1621749/45003580-e49a3000-af98-11e8-8b52-bb2189f5ec77.png)

[2018-09-03 23:47] aileenzeng opened #597 "Can't connect to database on local environment"
I'm running a clean copy of the dev environment (reset Docker to factory settings + re-cloned the git repository) and am getting this error when I try to run my docker container or try to connect to the database.

[code]

I think I've tracked it down to e76664f00bc33f62fa6eb3e36b720d47f3d3fc22 (PR #561).

[2018-09-04 00:02] jonfroehlich commented on #597
Ooooh. I wonder if this is related to our static css permissions problem too!

Sent from my iPhone

[2018-09-05 19:41] aileenzeng commented on #575
This issue is fixed now.

[2018-09-05 20:26] jonfroehlich commented on #575
Thanks!

[2018-09-05 20:26] #575 closed

[2018-09-05 20:56] mechanicjay opened #599 "Database separation"
Major oversite from launch.

Test and Prod are pointing to the same databases....

1) copy DB to -test server
2) Set new -test credentials file
3) Tell script to figure out where it's running and include the correct credentials when starting the container

[2018-09-05 21:01] mechanicjay commented on #599
Am also breaking out the /media back-ends for each site to have their own.

Script will also mount the correct media directory.

[2018-09-05 21:04] #599 closed

[2018-09-06 03:51] aileenzeng commented on #578
I'm starting to manually fix some of the pubs, but sometimes run into Server 500 errors:

* "TacTILE: A Preliminary Toolchain For Creating Accessible Graphics With 3D-Printed Overlays And Auditory Annotations" (ID: 572)
* "Recognizing Clothing Colors and Visual Textures Using a Finger-Mounted Camera: An Initial Investigation" (ID: 560)
* "Designing 3D-Printed Deformation Behaviors Using Spring-Bas

[2018-09-06 04:03] jonfroehlich commented on #578
Can you make a brand new publication entry?

Wand provides some image handling for us (e.g., helps with auto-thumbnail
generation from pds)--if you're just editing metadata for a pub (and not
adding or changing the pdf), not sure why it would even need to execute.

On Wed, Sep 5, 2018 at 8:51 PM Aileen Zeng <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen Schoo

[2018-09-06 04:24] aileenzeng opened #600 "Upload Ondule publication"
Paper: Designing 3D-Printed Deformation Behaviors Using Spring-Based Structures: An Initial Investigation.

Accidentally deleted this publication (sorry!) when trying to close out #578 and received a Server 500 Error when I tried to re-upload.

[2018-09-06 04:25] aileenzeng opened #601 "Received Server 500 Error when trying to upload a Publication"
Found this while trying to resolve #578.

[2018-09-25 23:11] jonfroehlich opened #602 "Duplicates in collaborators listed"
This is because of how we handle positions. I think the fix here is to simply check for and only list a collaborator once.

![image](https://user-images.githubusercontent.com/1621749/46048318-91218a80-c0dd-11e8-85a8-e82329ca2096.png)

[2018-09-27 00:05] jonfroehlich commented on #482
Also, need to make sure that we can add alt text to all images. We can't currently, for example, to the headshot images:

![image](https://user-images.githubusercontent.com/1621749/46115925-3c017980-c1ae-11e8-861f-b57fa7886c3a.png)

[2018-09-27 22:46] jonfroehlich opened #603 "Publications not loading"
I just added the following publication and now the publications page is not loading.

![image](https://user-images.githubusercontent.com/1621749/46178609-63b71700-c26c-11e8-8b3f-7edb7e29178a.png)

![image](https://user-images.githubusercontent.com/1621749/46178562-408c6780-c26c-11e8-8aeb-68cb628ade12.png)

[2018-09-27 22:56] jonfroehlich commented on #603
Error log says this:

[2018-09-27 23:12] jonfroehlich commented on #603
More updates. I've tracked it down to the special characters in the authors names, in particular: 'João Guerreiro' and ' Johannes Schöning.'

I think this might be related to @aileenzeng's new member url code from this summer?

[2018-09-27 23:15] jonfroehlich commented on #603
As a temporary fix, I changed 'João Guerreiro' to 'Joao Guerreiro' and 'Johannes Schöning' to  'Johannes Schoning.' However, ideally, we'd be able to use the correct special characters in their name.

[2018-09-28 13:18] jonfroehlich commented on #595
@aileenzeng, I think I'll assign this one to you since you've been our resident docker magician/expert.

[2018-09-28 13:19] jonfroehlich commented on #601
@aileenzeng, what's the status of this? I believe you met with Jason and resolved this, right?

[2018-09-28 13:21] jonfroehlich commented on #583
Done!

![image](https://user-images.githubusercontent.com/1621749/46210829-b503ec80-c2e6-11e8-92b6-d5652392d6da.png)

[2018-09-28 13:21] #583 closed

[2018-09-28 14:58] aileenzeng commented on #601
@jonfroehlich I got this error after my meeting with Jason, so I’m not quite sure! We also talked about different errors during our meeting (primarily: CSS not loading on admin site, splitting up production and test databases), so this may be a new issue.

[2018-09-28 18:31] jonfroehlich opened #605 "When I try to change a person's position, I get a server error"
When I try to change a person's position, I get a server error:

![image](https://user-images.githubusercontent.com/1621749/46226138-3328b900-c310-11e8-9015-73ad23079893.png)

Log file:

[2018-09-28 18:34] jonfroehlich opened #606 "Fix comparison to end_date when end_date is None"

[2018-09-28 18:39] jonfroehlich commented on #606
Appears to be fixed in https://github.com/jonfroehlich/makeabilitylabwebsite/commit/26697e4a97d1b916ade541e80cbedc32a7cb30a5

[2018-09-28 18:39] #606 closed

[2018-09-28 19:00] jonfroehlich opened #608 "Can we set the max debug size to 100M and then have another debug log start?"
Is it possible to have the debug.log max size set to 100M and then to auto-start a new debug.log (and rename old one to something like debug.log1 or something)

Also, do I have permission to delete or modify this log? I need to check...

[2018-09-28 19:05] jonfroehlich opened #610 "People listing should show first start date for a given role"
Leah should have collaborator listed as 2012 and not 2017

![image](https://user-images.githubusercontent.com/1621749/46228371-bb11c180-c316-11e8-8d9e-769390d18b38.png)

[2018-09-28 19:05] jonfroehlich commented on #602
Fixed in enumerate-persons-people-view branch that was merged.

[2018-09-28 19:05] #602 closed

[2018-09-28 20:27] jonfroehlich commented on #596
Fixed.

![image](https://user-images.githubusercontent.com/1621749/46231867-4ba1cf00-c322-11e8-99e6-d00e0622f507.png)

[2018-09-28 20:27] #596 closed

[2018-09-28 20:31] jonfroehlich commented on #506
The field is now hidden by @johnsonkuang's fix but we still need to make the field optional using `blank=True`

https://stackoverflow.com/questions/16349545/optional-fields-in-django-models

Not sure if this will break anything given that it's modifying a field in models.py (see https://github.com/jonfroehlich/makeabilitylabwebsite/issues/366)

[2018-09-28 20:37] jonfroehlich opened #611 "Change all UW CSE affiliations to be the same"
Some say 'Computer Science', some say 'Computer Science and Engineering', some say 'Computer Science & Engineering'

[2018-09-28 20:40] jonfroehlich commented on #552
Addressed in https://github.com/jonfroehlich/makeabilitylabwebsite/pull/565

[2018-09-28 20:40] #552 closed

[2018-09-28 22:31] jonfroehlich commented on #577
Fixed in https://github.com/jonfroehlich/makeabilitylabwebsite/commit/2be70875113175c831d64fcba7ab22fd6e3f7b67

[2018-09-28 22:31] #577 closed

[2018-09-28 22:33] jonfroehlich commented on #553
Working on this in this branch: https://github.com/jonfroehlich/makeabilitylabwebsite/tree/make-talks-easier-to-select-pub-admin but I hit a roadblock. I can't figure out how to use the Select2 Django widget in the admin interface.

See:
- https://stackoverflow.com/questions/34498673/what-are-some-alternative-for-modelchoicefield-for-large-number-of-choices?rq=1
- https://django-select2.readthedoc

[2018-09-28 23:35] jonfroehlich opened #612 "Our auto-capitalization function is a bit too aggressive"
Some paper titles need capitalization like 'BodyVis' or 'SIG' but this is mangled with new auto-capitalization functionality.

![image](https://user-images.githubusercontent.com/1621749/46237913-6c771e00-c33c-11e8-9d40-bd6e80657843.png)

![image](https://user-images.githubusercontent.com/1621749/46237920-7862e000-c33c-11e8-94c0-25a14b3901b1.png)

[2018-09-28 23:36] jonfroehlich commented on #605
Fixed here https://github.com/jonfroehlich/makeabilitylabwebsite/commit/26697e4a97d1b916ade541e80cbedc32a7cb30a5

[2018-09-28 23:36] #605 closed

[2018-09-28 23:38] jonfroehlich commented on #506
Fixed here: https://github.com/jonfroehlich/makeabilitylabwebsite/commit/4c93562e2f7209440e383e78eafb11a29be361a4

[2018-09-28 23:38] #506 closed

[2018-09-28 23:38] jonfroehlich commented on #497
Done! I think I got everyone...

![image](https://user-images.githubusercontent.com/1621749/46237988-fd4df980-c33c-11e8-879c-99d9a3db49d5.png)

[2018-09-28 23:38] #497 closed

[2018-09-28 23:39] #393 closed

[2018-09-28 23:44] jonfroehlich commented on #600
It's back!

![image](https://user-images.githubusercontent.com/1621749/46238079-d04e1680-c33d-11e8-8deb-4a1f97078ec6.png)

[2018-09-28 23:44] #600 closed

[2018-09-28 23:51] jonfroehlich opened #613 "Add Kotaro's UIST DC paper to webpage"

[2018-09-28 23:55] jonfroehlich commented on #578
I was able to fix all but `iLearn on the iPhone: Real-Time Human Activity Classification on Commodity Mobile Phones.` I think we might need to re-upload the PDF for this...

[2018-09-28 23:57] jonfroehlich opened #614 "Getting a Server Error (500) on projects page"
![image](https://user-images.githubusercontent.com/1621749/46238315-8cf4a780-c33f-11e8-87c5-472e05fe32b6.png)

[2018-09-28 23:59] jonfroehlich commented on #611
Fixed. Everyone is now `Computer Science & Engineering`

[2018-09-28 23:59] #611 closed

[2018-10-01 23:46] jonfroehlich opened #616 "Use snippets for displaying talks on landing page, talks page, people page, and indproject page"
Use snippets for displaying talks on landing page, talks page, people page, and indproject page. Will also make code easier to manage and reduce code redundancy.

- [x] Landing page
- [x] Talks page
- [x] People page
- [x] Individual project page

Related to https://github.com/jonfroehlich/makeabilitylabwebsite/issues/495

[2018-10-01 23:57] #568 closed

[2018-10-02 00:04] jonfroehlich commented on #572
This doesn't work perfectly because the videos still come in unsorted and then you get this disorienting isotope re-ordering visualization to sort them by date... they should be defaulted to being sorted reverse chronologically.

[2018-10-02 00:10] jonfroehlich commented on #572
OK, fixed this in https://github.com/jonfroehlich/makeabilitylabwebsite/commit/d348d6f12609eba428811ad9ee736730b6c8079a by adding order_by to the query `Video.objects.filter(date__range=["2012-01-01", date.today()]).order_by('-date'),`

[2018-10-02 00:10] #572 closed

[2018-10-02 00:10] jonfroehlich commented on #572
Still has a weird disorienting layout animation on load, however.

[2018-10-02 00:11] jonfroehlich commented on #573
Needs to be tested on makeability-test

[2018-10-02 00:12] jonfroehlich commented on #568
Tested on makeabilitylab-test.... looks good.

[2018-10-02 00:16] jonfroehlich commented on #601
I haven't seen this occur recently, so closing for now.

[2018-10-02 00:16] #601 closed

[2018-10-02 00:19] #603 closed

[2018-10-02 17:03] jonfroehlich opened #617 "The MS Thesis and PhD Dissertation anchor links don't work on pubs page"
![image](https://user-images.githubusercontent.com/1621749/46364359-6fb72600-c62a-11e8-8116-0df5b4829943.png)

[2018-10-02 17:15] jonfroehlich opened #618 "News blurbs not properly limited to a few lines"
Also, doesn't appear that html is rendered correctly.

![image](https://user-images.githubusercontent.com/1621749/46364939-10f2ac00-c62c-11e8-9304-6fad9f318be9.png)

So, to summarize, two issues here:

- [x] News blurbs on the news page should be limited to ~3 lines or so and then have a [read more] after a line break
- [x] It doesn't appear that html-formatted news entries are being rendered corr

[2018-10-02 23:56] jonfroehlich commented on #613
Also added Matt's. Fixed the undefined thing too... (but not showing in this screenshot)

![image](https://user-images.githubusercontent.com/1621749/46383207-09e79000-c664-11e8-9ada-cb7e44c77f8e.png)

[2018-10-02 23:56] #613 closed

[2018-10-02 23:56] jonfroehlich commented on #617
Same problem for Doctoral Consortium... probably because of spaces?

[2018-10-03 00:00] jonfroehlich opened #619 "Need to add new award type: 10-year impact award"
and assign it to flowers ubifit ubicomp'08 paper

[2018-10-03 00:01] jonfroehlich commented on #580
this is fixed!

![image](https://user-images.githubusercontent.com/1621749/46383347-c6415600-c664-11e8-968c-a4c3132cdff6.png)

[2018-10-03 00:01] #580 closed

[2018-10-03 00:06] #549 closed

[2018-10-03 00:08] jonfroehlich opened #620 "Makeability Lab REST API"
- Need to be able to query start and end dates
- Need to specify which authors (e.g., I only want the list to return pubs in which I'm a co-author--there are some in the ML database that are only students like their DC papers)
- Consider also making an API endpoint that doesn't return so much information. Current version literally dumps everything but we don't need everything
- Default API should

[2018-10-03 00:34] jonfroehlich commented on #372
@aileenzeng, I don't think this is a problem anymore... do you? Closing for now but we can reopen.

[2018-10-03 00:34] #372 closed

[2018-10-03 00:35] jonfroehlich commented on #302
We now have something like this for the main people page... would still be nice to have this for the individual project pages.

[2018-10-03 00:45] jonfroehlich commented on #343
It doesn't appear to be a problem anymore...

[2018-10-03 00:45] #343 closed

[2018-10-03 00:47] jonfroehlich commented on #292
@higherdefender, any updates on this?

[2018-10-03 00:48] #262 closed

[2018-10-03 00:49] jonfroehlich commented on #258
We have four across on the landing page and it looks fine... I think the main thing is to make it so the talks layout follows the landing page layout.

![image](https://user-images.githubusercontent.com/1621749/46384537-774aef00-c66b-11e8-866e-c5800d22e343.png)

[2018-10-03 00:49] #258 closed

[2018-10-03 00:50] jonfroehlich opened #621 "Landing page: two quick things"
1. DOI should be added to pubs, when avail
2. Date of talk should be added to talks... as well as possibly location?

[2018-10-03 04:39] jonfroehlich commented on #621
Support for 1 above is already done but changed language from 'Official Link' to 'doi' to be more consistent with pubs page.

[2018-10-03 04:57] jonfroehlich commented on #621
Done. Vertical spacing between venue and location lines could be polished a bit but is overall good.

![image](https://user-images.githubusercontent.com/1621749/46390740-27315400-c68e-11e8-83ae-c5fc7aad527f.png)

[2018-10-03 15:22] jonfroehlich opened #622 "Landing page: talks polish"
Vertical spacing between venue and location lines could be polished a bit but is overall good.

![image](https://user-images.githubusercontent.com/1621749/46420691-6ccd3b80-c6e5-11e8-89b9-3a700346e9c8.png)

[2018-10-03 17:55] jonfroehlich opened #623 "Add poster field to papers"
Maybe also make posters a first-class object.

Easier for me to track over time: upload both raw and pdf versions.

[2018-10-04 05:11] jonfroehlich commented on #622
Just updated. Not sure if the aesthetic improved but added in download links at the bottom.

![image](https://user-images.githubusercontent.com/1621749/46454035-42b56100-c759-11e8-9b85-38788f2b0fcf.png)

[2018-10-04 05:11] #622 closed

[2018-10-04 05:48] jonfroehlich commented on #622
Newest version:

![image](https://user-images.githubusercontent.com/1621749/46455125-7777e700-c75e-11e8-940a-8e60001aa2f0.png)

[2018-10-04 22:55] jonfroehlich commented on #545
Talks are now snippified, so this is possible.

[2018-10-04 23:20] jonfroehlich opened #626 "Fix alignment of title/caption on about image on project pages"
![image](https://user-images.githubusercontent.com/1621749/46508232-7217ac80-c7f1-11e8-9626-086930e596ba.png)

[2018-10-04 23:29] jonfroehlich opened #627 "Add in projects to publication listing"
![image](https://user-images.githubusercontent.com/1621749/46508505-adff4180-c7f2-11e8-9548-7a2fc981b17b.png)

[2018-10-04 23:57] jonfroehlich opened #629 "Sponsors that don't have urls are still hyperlinked"
![image](https://user-images.githubusercontent.com/1621749/46509260-87dba080-c7f6-11e8-934c-a3380dc6a766.png)

[2018-10-04 23:57] jonfroehlich commented on #629
And hyperlinked incorrectly for that matter! :)

[2018-10-04 23:58] jonfroehlich opened #630 "Videos should be able to exist in multiple projects"
For example, the AR magnification stuff is relevant to the AR magnification project as well as Handsight:

![image](https://user-images.githubusercontent.com/1621749/46509297-c4a79780-c7f6-11e8-868a-b8d7339871e4.png)

[2018-10-05 00:01] jonfroehlich opened #631 "Filter bar scrolling is broken"
I'm here:
![image](https://user-images.githubusercontent.com/1621749/46509357-12240480-c7f7-11e8-93f9-1bc489888da8.png)

and then I scroll down a bit and filter bar starts scrolling up! that's not what we want. some recent PR must have created this bug :(

![image](https://user-images.githubusercontent.com/1621749/46509383-2ec03c80-c7f7-11e8-965a-47ef8dc463e8.png)

![image](https://user-images.git

[2018-10-05 03:55] jonfroehlich commented on #612
other example problems:
![image](https://user-images.githubusercontent.com/1621749/46515290-c2a20080-c817-11e8-975c-6bee73950e3a.png)

![image](https://user-images.githubusercontent.com/1621749/46515305-d64d6700-c817-11e8-8565-5099d307d291.png)

[2018-10-05 03:56] jonfroehlich commented on #612
![image](https://user-images.githubusercontent.com/1621749/46515321-ef561800-c817-11e8-9e9c-f4f2344b66f6.png)

[2018-10-05 03:59] jonfroehlich commented on #612
![image](https://user-images.githubusercontent.com/1621749/46515392-6c818d00-c818-11e8-8521-5ffd88bf4835.png)

[2018-10-05 04:03] jonfroehlich opened #632 "Projects for project pages: a list"
- [x] AccessScore
- [x] GlassEar (rename this to AR Sound Awareness then have a project just for glassear)
- [x] TouchCam (possibly both TouchCam and the ICPR paper and the microinteractions paper?)
- [x] Rainbow (but should probably wait until after the CHI decisions)
- [x] Tactile (Liang's touchsceen accessibility stuff)
- [x] Haptic movement feedback (both ASSETS'17 and GI, TACCESS'16) + filed

[2018-10-05 04:05] jonfroehlich opened #633 "ML logo should be left-aligned with content"
![image](https://user-images.githubusercontent.com/1621749/46515528-2c6eda00-c819-11e8-8517-659d2f7a922e.png)

[2018-10-05 05:13] jonfroehlich opened #635 "Landing page pub thumbnails need award overlay support"

[2018-10-05 05:28] jonfroehlich opened #636 "Need to make snippets for videos"
And add to member, individual project page, landing page, and possibly video page?

[2018-10-05 17:14] jonfroehlich opened #637 "Clicking on 'change' person in admin results in Server Error (500)"
at least on production

![image](https://user-images.githubusercontent.com/1621749/46549598-72fb1d80-c887-11e8-8200-269d993c1d56.png)

[2018-10-05 20:23] #184 closed, assigned to nobody

[2018-10-05 21:45] jonfroehlich commented on #637
Looks like this is due to recent upgrades to Django--we had to upgrade to 2.1.2 due to security concerns but some of our custom widgets may no longer be compatible.

See discussion here: https://github.com/fabiocaccamo/django-admin-interface/issues/34

[2018-10-05 22:01] jonfroehlich commented on #608
Great news: Django supports this quite easily:

https://stackoverflow.com/questions/14354066/django-log-rotating-and-log-file-ownership

The key question, however, is whether our Django instance has permission to create and overwrite log files... still need to test.

[2018-10-05 22:10] jonfroehlich commented on #637
Hrm, when trying to explore solutions makeabilitylab-test went down on auto-deploy:

[code]

Some potential leads on the error message:

- https://stackoverflow.com/questions/36918387/space-issue-on-docker-devmapper-and-centos7
- https://forums.docker.com/t/thin-pool-free-data-blocks-issue-while-building-docker-imager/40956
- https://thegnulinuxguy.wordpress.com/2018/03/19/docker-issue-devmapper-t

[2018-10-05 22:12] jonfroehlich commented on #637
Also, it looks like this Server Error (500) on admin page is far more pervasive than I thought. My guess is we have an incompatible widget somewhere that is causing a problem on our admin subpages because I can't modify people, projects, etc.

[2018-10-05 22:20] jonfroehlich commented on #637
Full error log:

[code]

[2018-10-05 22:22] aileenzeng commented on #637
I think the auto deploy script has some part that removes old Docker containers and images (I think this is a Jason-thing though!)

My guess is that this could be a problem with the `FilteredSelectMultiple` widget from #402, but I haven’t looked into it yet. (Maybe it broke in the Django upgrade?)

[2018-10-05 22:30] aileenzeng commented on #637
Hmm... I’ll take a peek in ~15 min since I’m on the bus right now!

[2018-10-05 22:39] jonfroehlich commented on #637
Thanks. Note that this error is easy to reproduce in your local docker dev environment. Simply try to add a person, a project, a publication, etc. All cause the same error. I do think that we could simply change requirements.txt back to something like 2.0.8 but my preference would be to identify the offending widget(s) and fix the problem.

[2018-10-05 22:57] aileenzeng opened #638 "Site not running locally"
Call stack:

[code]

[2018-10-05 22:58] aileenzeng commented on #638
@jonfroehlich Are you getting this too?

[2018-10-05 23:01] jonfroehlich commented on #638
hrm, that's my most recent commit. i will comment that out for now. one
moment.

On Fri, Oct 5, 2018 at 3:58 PM Aileen Zeng <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2018-10-05 23:02] jonfroehlich commented on #638
try now... i broke something in a recent commit and commented it out here https://github.com/jonfroehlich/makeabilitylabwebsite/commit/a5839fff986d18f23d31ed2afbf31ba94ecb7ea7

[2018-10-05 23:03] aileenzeng commented on #638
Ok - I'm going to try one thing before I do that.

[2018-10-05 23:30] aileenzeng commented on #637
It looks like it's a problem with `boundform.py`, which is built into Django. I'm don't think this is associated with a specific kind of widget though. More information here: https://docs.djangoproject.com/en/2.1/topics/forms/

![image](https://user-images.githubusercontent.com/25534091/46564131-6e039180-c8ba-11e8-81a6-492fcae5ead9.png)
Important line here is the Exception Location: `/usr/local/li

[2018-10-05 23:32] aileenzeng commented on #637
Somebody suggested a quick solution here https://github.com/froala/django-froala-editor/issues/55, but it requires actually removing this line, and I don't think there's a way we could reflect this change through this repo.

[2018-10-05 23:36] jonfroehlich commented on #637
Thanks @aileenzeng. We've arrived at the same conclusion and found similar posts. Note that this (https://github.com/froala/django-froala-editor/issues/55) was referring to a specific django widget plugin that broke with Django 2.1.0+ but yes, the fix would be applicable to us--but since we're having problems with core Django widgets, unclear, as you say, what to do.

I'm surprised more folks aren

[2018-10-08 05:47] higherdefender commented on #292
I think I'll do this after we've some of the 505 issues resolved.

On Tue, Oct 2, 2018 at 5:47 PM Jon Froehlich <notifications@github.com>
wrote:

[2018-10-08 16:59] jonfroehlich commented on #637
Regressed back to 2.0.8 here: https://github.com/jonfroehlich/makeabilitylabwebsite/commit/6f75b880cacfbc3a02ab3abee8888c6dad52ee08 and that appeared to fix it but we have to get to the bottom of this or we won't be able to upgrade.

@aileenzeng, did you have a chance to post to Django forums?

[2018-10-08 18:03] aileenzeng commented on #637
Oh shoot, I didn't see the update to your comment earlier. On it now.

[2018-10-08 18:13] jonfroehlich commented on #637
Thanks.

Sent from my iPhone

[2018-10-08 19:48] jonfroehlich opened #640 "Position information is wrong for people listed on individual project pages"
It should be showing the most recent positional info for each person... right now, it shows the first position.

![image](https://user-images.githubusercontent.com/1621749/46630207-603b4f80-caf8-11e8-8a21-d7e628b026ca.png)

Should also consider trying to use the display-people-snippet here.

[2018-10-08 23:04] jonfroehlich commented on #637
Shifting this to priority medium because reverting to 2.0.8 is working as a temporary fix.

[2018-10-09 04:18] aileenzeng commented on #637
Here's the link to the post:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/django-users/odBVju946ng/RZ7Fvk3rAgAJ

Here's the response that I got:

If this is coming from a widget that we're importing, maybe we could try making a custom widget that's basically a copy of the current widget that's been breaking our code (although I'm not sure which one is causing the proble

[2018-10-09 05:08] jonfroehlich commented on #637
Thanks for posting! Hmm, that response is not helpful. I thought the
problem was with a built-in widget rather than an external widget. If it's
a built-in widget, how could we modify the code? And shouldn't this be
fixed in their own build? I'm confused. :(

On Mon, Oct 8, 2018 at 9:18 PM Aileen Zeng <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Co

[2018-10-09 05:16] jonfroehlich commented on #640
Fixed!

[2018-10-09 05:16] #640 closed

[2018-10-09 05:16] jonfroehlich opened #642 "Add isotope filter bar in for people on individual project pages"
This would be for project.html. I couldn't quite figure this out.

![image](https://user-images.githubusercontent.com/1621749/46648006-d5824100-cb47-11e8-9a3d-8782be843d1d.png)

[2018-10-09 07:12] aileenzeng commented on #637
I'm sort of confused too :/ I asked for more clarification and they said this:

https://github.com/stuartaccent/django-autocomplete-light/commit/cfc5f4a25fcb4937cf07fc65ef4ed549ca0d1338

It wasn't super helpful because I wasn't sure about what widgets were breaking. I tried to remove our custom widgets (only `FilteredSelectMultiple` for now.. I'm not sure if we have other custom widgets?), and our

[2018-10-09 12:42] jonfroehlich commented on #637
Ugh. Thanks Aileen for exploring and for your creative solution. I wonder if we can push back a bit and say that our problem appears to be the built-in boundfield.py that has the problem (not some external widget)--but perhaps we are not yet sure of this?

[2018-10-09 16:30] atb00ker commented on #637
Hi!

I found your issue while looking for a solution for myself.
In my case a dependency was the culprit, so checking `requirements.txt` might help.
Also, response [here](https://stackoverflow.com/a/52039655/6410464) on stack overflow helped me.

Good luck! :blush:

[2018-10-10 16:51] jonfroehlich opened #643 "Some talk links get cut off when the links go to 2-lines"
![image](https://user-images.githubusercontent.com/1621749/46752421-0199e100-cc72-11e8-888c-d18e162f4f54.png)

[2018-10-10 18:50] jonfroehlich commented on #614
My gitup commit automatically closed the issue but it needs testing on ml-test, so re-opening for now.

[2018-10-10 21:33] jonfroehlich opened #644 "Would be helpful to have version number inside app"
It would be nice to have version number printed into base template (but also each logging line should ideally have version num as well).

Possibly relevant:
https://stackoverflow.com/questions/14590292/version-number-in-django-applications

[2018-10-11 04:24] jonfroehlich opened #646 "Use dockerignore file to reduce size of build context"
The build context for the ml website is quite large--and it's slow to create.

Perhaps we use a dockerignore file to reduce the size... I don't think the media folder needs to be included in the build? Not sure...

https://forums.docker.com/t/sending-build-context-to-docker-daemon-seems-quite-high/26955/3

[2018-10-11 23:03] jonfroehlich opened #648 "Add picture gallery for projects..."
Now that we are building out projects, need to add picture galleries for each

- [ ] AccessScore
- [ ] GlassEar
- [ ] TouchCam (possibly both TouchCam and the ICPR paper and the microinteractions paper?)
- [ ] Rainbow (but should probably wait until after the CHI decisions)
- [ ] Tactile (Liang's touchsceen accessibility stuff)
- [ ] Haptic movement feedback (both ASSETS'17 and GI, TACCESS'16) + f

[2018-10-11 23:03] jonfroehlich opened #649 "Need to go back through old talks/papers and link to projects"
We are now adding lots of projects to ml website--need to go back and link talks, videos, and papers to these projects.

[2018-10-11 23:04] jonfroehlich opened #650 "Add in projects below people"
Should do this on display people snippet... have to figure out a way to deal with when a person is working on lots of projects (like me)--perhaps only list top 4 most recent? Also have to figure out what this should look like aesthetically.

[2018-10-11 23:35] jonfroehlich opened #651 "Put the carousel either in a base template or snippet"
Put this carousel code either in a base template or a snippet. It's copy/pasted on every page. :(

Will need to parameterize a few things to make it work.

[code]

[2018-10-11 23:51] #616 closed

[2018-10-11 23:51] jonfroehlich commented on #616
Done!

[2018-10-11 23:53] jonfroehlich opened #653 "Rather than sponsors, I wonder if we should be doing grants"
So individual projects can list grants... or maybe the sponsors class has a grant field?

[2018-10-12 18:41] jonfroehlich commented on #614
Fixed. Problem was in sorting projects in views.

[2018-10-12 18:41] #614 closed

[2018-10-12 18:41] jonfroehlich commented on #523
In fact, videos should just use snippets.

[2018-10-12 18:58] jonfroehlich commented on #216
Fixed.

[2018-10-12 18:58] #216 closed

[2018-10-12 19:04] jonfroehlich opened #654 "Caption title/text style on project page needs to be fixed"
The style is broken.

![image](https://user-images.githubusercontent.com/1621749/46888989-01871600-ce17-11e8-944c-6c042dfbcfdd.png)

[2018-10-12 19:05] jonfroehlich opened #655 "Quick Info part of project page needs to be fixed"
Improve formatting.

![image](https://user-images.githubusercontent.com/1621749/46889013-12378c00-ce17-11e8-8f5b-d42688eacebd.png)

[2018-10-12 19:17] jonfroehlich opened #656 "Have award overlay on project thumbnails too?"
Maybe this puts too much focus on award projects... but I'd like to try this. Essentially, we would take the same approach as publications (except not trophy sign; just want the red 'Award' overlay on the project thumbnail).

![image](https://user-images.githubusercontent.com/1621749/50491428-29722880-09c7-11e9-9afd-0a15fe81bf44.png)

Perhaps this would only show up on mouseover on project gallery

[2018-10-12 19:42] jonfroehlich opened #657 "Make it easier to add banners when working on project pages"
Maybe include banners as an inline option on project pages?

[2018-10-12 19:50] jonfroehlich opened #658 "What to do with members when a project has ended?"
If a project has ended, do we just have "Members" rather than "Current" and "Past Members"--seems like that makes the most sense.

[2018-10-12 19:54] jonfroehlich opened #659 "Under "Quick Info", add "Related Projects""
Could be calculated automatically by looking at keyword similarity between projects... could also be calculated when projects are listed together for a single artifact (e.g., a talk, a paper)

[2018-10-12 22:15] #646 closed

[2018-10-12 22:33] jonfroehlich opened #660 "If no alt text supplied for banner, use caption"
If no alt text supplied for banner, use caption

[2018-10-12 22:53] jonfroehlich opened #661 "Banner should be able to be added to multiple pages and multiple projects"
![image](https://user-images.githubusercontent.com/1621749/46897359-fa700000-ce36-11e8-9f63-a9bd5a9fa198.png)

[2018-10-12 22:54] jonfroehlich opened #662 "Video is not an option on pull-down menu on banner admin page"

[2018-10-12 23:04] jonfroehlich opened #663 "News listing banner is broken"
Doesn't seem to be getting the right banners

[2018-10-12 23:32] jonfroehlich commented on #660
added

[2018-10-12 23:32] #660 closed

[2018-10-12 23:32] jonfroehlich commented on #651
Addressed in https://github.com/jonfroehlich/makeabilitylabwebsite/commit/8a68676d5d5600129a9fa7786733c45f9d778403

[2018-10-12 23:32] #651 closed

[2018-10-12 23:46] jonfroehlich commented on #510
Did this but then had to regress to 2.0.8. See: https://github.com/jonfroehlich/makeabilitylabwebsite/issues/637#issuecomment-427907601

[2018-10-12 23:47] jonfroehlich commented on #314
This is done via snippets. Eliminated use of headers, filtering, and groupby for now. Will have to add back later.

[2018-10-12 23:47] #314 closed

[2018-10-13 22:24] jonfroehlich opened #664 "Cleanup css throughout entire site"
Remove unnecessary css includes on each html file and eliminate unused css tags. Maybe there is a tool to help with this?

[2018-10-13 23:00] jonfroehlich opened #665 "Add author and/or date to video thumbnail listings"
Should we show author of video and date? (Or rather than date, perhaps age?)

![image](https://user-images.githubusercontent.com/1621749/46910862-ff00eb00-cf00-11e8-9f72-04552a86253c.png)

For comparison, here's the YouTube interface:

![image](https://user-images.githubusercontent.com/1621749/46910866-15a74200-cf01-11e8-9d14-55a2876dbcc7.png)

[2018-10-13 23:27] jonfroehlich opened #666 "For videos.html banner, use some of the lightbox shots..."

[2018-10-14 23:16] jonfroehlich commented on #420
Despite @johnsonkuang's work on this, it's still not working. Need to keep testing and build test app that actually uses API (perhaps test app will be my webpage). Moving out of milestone for now.

[2018-10-14 23:18] jonfroehlich commented on #573
I completely redid the projects.html page and they are now sorted by the function `sort_projects_by_most_recent_artifact`

[2018-10-14 23:18] #573 closed

[2018-10-14 23:19] jonfroehlich commented on #538
Projects are now sorted by this function `sort_projects_by_most_recent_artifact`

[2018-10-14 23:19] #538 closed

[2018-10-14 23:34] jonfroehlich opened #667 "Updated Projects Page"
Removed isotope, filtering, sortby, and groupby behavior for now. Using snippets. Very clean code. Should carefully add in new functionality.

Old:
![image](https://user-images.githubusercontent.com/1621749/46923604-c62f4780-cfce-11e8-9057-cdcde3c15337.png)

New:
![image](https://user-images.githubusercontent.com/1621749/46923615-ea8b2400-cfce-11e8-8684-04785a24453b.png)

[2018-10-14 23:34] #667 closed

[2018-10-14 23:35] jonfroehlich opened #668 "Add in banner images for videos.html, news.html, and projects.html"

[2018-10-14 23:36] jonfroehlich commented on #571
We should study how other pages do mobile footers, sketch out some of our own ideas, and then prototype!

[2018-10-15 17:39] jonfroehlich opened #669 "Fix left-alignment for videos and talks on project.html"
![image](https://user-images.githubusercontent.com/1621749/46967881-a9465300-d066-11e8-87fc-54ac375be390.png)

[2018-10-15 19:40] jonfroehlich commented on #658
Before:
![image](https://user-images.githubusercontent.com/1621749/46973836-3b565780-d077-11e8-9737-5da077ba7129.png)

After:
![image](https://user-images.githubusercontent.com/1621749/46973874-59bc5300-d077-11e8-8932-f34c60ffae8b.png)

For ended projects, people are sorted by start date, their PI status, their title, and then their last name:
`project_roles = sorted(project_roles, key=lambda pr:

[2018-10-15 19:40] #658 closed

[2018-10-15 19:41] jonfroehlich commented on #666
Done.

![image](https://user-images.githubusercontent.com/1621749/46973999-aacc4700-d077-11e8-9f62-8005b79b420c.png)

[2018-10-15 19:41] #666 closed

[2018-10-15 19:42] jonfroehlich commented on #662
Fixed.

![image](https://user-images.githubusercontent.com/1621749/46974059-d2bbaa80-d077-11e8-8502-cbe2ce3c9554.png)

[2018-10-15 19:42] #662 closed

[2018-10-15 22:36] jonfroehlich opened #670 "Ugh, recent commit broke member.html"
member.html is one of the few remaining pages (along with project.html) that has a two-column layout: one for content and one sidebar.

I recently checked in code that accidentally broke this. Needs to be fixed:

![image](https://user-images.githubusercontent.com/1621749/46982153-03a7d980-d090-11e8-9538-0f7318ba1e09.png)

![image](https://user-images.githubusercontent.com/1621749/46982170-14f0e600

[2018-10-15 22:37] jonfroehlich opened #671 "Member.html probably doesn't need a banner"
Play around with what member.html looks like without a banner.

![image](https://user-images.githubusercontent.com/1621749/46982194-276b1f80-d090-11e8-81ca-1643aba54ebe.png)

[2018-10-15 22:38] jonfroehlich commented on #571
This is what we were talking about in today's ML meeting @higherdefender.

[2018-10-15 23:04] jonfroehlich commented on #643
Fixed by clamping to one line for links

![image](https://user-images.githubusercontent.com/1621749/46983118-fab90700-d093-11e8-8273-dde4b0a18c41.png)

[2018-10-15 23:04] #643 closed

[2018-10-15 23:59] jonfroehlich commented on #650
Getting there on this but more work todo. Need to change the order that projects are listed under people. As now, it's sorted by most recent start date... but Matt's PhD project should definitely be listed first and it's not.

![image](https://user-images.githubusercontent.com/1621749/46984753-a0bc3f80-d09b-11e8-8325-a0e1c47c7f48.png)

[2018-10-16 00:04] jonfroehlich opened #672 "Something's not working right with line clamping on person snippet"
It's affecting both the project listing and department. See Leah's project listing and Rama's department below as respective examples.

![image](https://user-images.githubusercontent.com/1621749/46984850-4a033580-d09c-11e8-959a-664cc9d2a927.png)

[2018-10-16 03:43] jonfroehlich opened #673 "debug.log no longer getting updated in www or www-test"
Probably related to our new logging setup as the last write dates are Oct 10th, which is when we checked in the following. Perhaps django cannot create the log files necessary to support the rotating file handler. @mechanicjay: any ideas? Note that this works in my local dev Docker setup.

[code]

[2018-10-16 03:44] jonfroehlich commented on #672
Fixed. I had line clamp stuff in a span rather than a p tag

[2018-10-16 03:44] #672 closed

[2018-10-17 17:28] jonfroehlich commented on #571
Thanks for doing this. I certainly did not intend for us to only look at academic websites to inform our designs--indeed, I think it's best to look outwards at professionally designed sites for guidance. I do want a footer.

Can you find ~10 more examples from professional sites. Maybe try etsy.com, dribbble.com, and other design'y sites.

[2018-10-17 17:28] higherdefender commented on #571
On it.

On Wed, Oct 17, 2018 at 10:28 AM Jon Froehlich <notifications@github.com>
wrote:

[2018-10-18 03:44] jonfroehlich commented on #673
Just emailed Jason directly about this.

[2018-10-18 03:46] jonfroehlich commented on #671
It looks like this. I think maybe the menu header should be white and the ML logo and menu text black...

![image](https://user-images.githubusercontent.com/1621749/47130256-a35e9680-d24d-11e8-8714-55dd0a69ce6c.png)

[2018-10-18 17:36] jonfroehlich opened #674 "Change mouseover on headshots"
Change mouseover on headshots so that the "easter egg" headshot is only shown when the name is moused over rather than the photograph itself. Will make it easier to copy images in the future (e.g., into slide decks, posters).

![image](https://user-images.githubusercontent.com/1621749/47172988-b1e69580-d2c1-11e8-89ab-87983b461d5f.png)

[2018-10-18 23:49] jonfroehlich opened #675 "Make it easier to add photos to each project"
Currently, you have to go to admin/website/photo/add rather than doing it from the project part of the admin page

[2018-10-18 23:50] jonfroehlich opened #676 "Make it so you can click on/download hi-res images on project pages"
Currently, when you mouseover, you get the caption but you can't download/open hi-res images

![image](https://user-images.githubusercontent.com/1621749/47190386-e1af9080-d2f5-11e8-84ca-3ebb1e5d57e1.png)

[2018-10-18 23:55] jonfroehlich opened #677 "Provide more info on admin projects listing"
And default sort by most recently changed? or alphabetical?

![image](https://user-images.githubusercontent.com/1621749/47190506-9f3a8380-d2f6-11e8-8ac7-527f0794a3d0.png)

[2018-10-21 10:56] #654 closed

[2018-10-21 11:06] jonfroehlich opened #678 "makeabilitylab-test down due to data block issue in Docker"
I just sent the following to support@cs and now tagging @mechanicjay here.

Hi all,

Our auto-deploy scripts are failing on makeabilitylab-test because of the following Docker error:

`docker: Error response from daemon: devmapper: Thin Pool has 158057 free data blocks which is less than minimum required 163840 free data blocks. Create more free space in thin pool or use dm.min_free_space option t

[2018-10-21 20:14] jonfroehlich commented on #678
@mechanicjay fixed this with:

[code]

[2018-10-21 20:14] #678 closed

[2018-10-22 10:34] jonfroehlich commented on #632
For each project, need to make sure we add appropriate members (with appropriate timelines) and associate artifacts like papers, talks, videos, etc. I will make a new checklist for this.

[2018-10-22 15:42] jonfroehlich opened #679 "On project pages, looks like the About Image is stretched/distorted vertically"
![image](https://user-images.githubusercontent.com/1621749/47302464-775e5f00-d619-11e8-96e8-f209d9250a28.png)

[2018-10-22 17:15] jonfroehlich opened #680 "Oops, pptx talk links link to pdf and not pptx"

[2018-10-23 08:31] #680 closed

[2018-10-23 08:32] jonfroehlich commented on #677
Fixed here: https://github.com/jonfroehlich/makeabilitylabwebsite/commit/201bc7fbe872ed505c6eb5edd928b91b72b6062e

![image](https://user-images.githubusercontent.com/1621749/47347142-8c350400-d6a6-11e8-96ba-602f0016e0c5.png)

[2018-10-23 08:32] #677 closed

[2018-10-23 11:09] jonfroehlich commented on #571
I explored this a bit today. Of the sites I visited, I like the UW CSE footer the best. I'll try to design a mockup soon.

![img_8690](https://user-images.githubusercontent.com/1621749/47356551-56027f00-d6bc-11e8-97a5-99c9ff8518da.PNG)
![img_8691](https://user-images.githubusercontent.com/1621749/47356552-56027f00-d6bc-11e8-89d8-1b2e19286916.PNG)
![img_8689](https://user-images.githubusercontent.c

[2018-10-23 11:20] jonfroehlich commented on #571
Here are two mocks. Any opinions? I cut the Recent News part (available on full screen views) as I think it unnecessary for smartphone footer. @EdigaHe, any thoughts? @higherdefender, can you implement this? I like the one on the left best.

![image](https://user-images.githubusercontent.com/1621749/47357021-8ac30600-d6bd-11e8-9b2f-150ebab840c2.png)

[2018-10-23 11:20] jonfroehlich commented on #571
Oops, accidentally closed.

[2018-10-23 11:34] jonfroehlich commented on #626
I fixed this previously:

![image](https://user-images.githubusercontent.com/1621749/47357885-f4dcaa80-d6bf-11e8-8c1d-db08a78dbc6b.png)

[2018-10-23 11:34] #626 closed

[2018-10-24 13:48] jonfroehlich opened #682 "Don't show project date in Quick Info if no project date set"
If start date not set, don't show project dates for project. Also, don't put 'None' for end date.

![image](https://user-images.githubusercontent.com/1621749/47435121-d0560080-d79b-11e8-92c9-6b0b8c0bf9e0.png)

[2018-10-31 01:10] higherdefender opened #683 "Ability to display multiple images on the news page"
News page can only display one image (as a thumbnail). Provide ability to display more images in text.

[2018-11-02 18:06] jonfroehlich opened #684 "Matt's UbiComp DC is listed twice..."
![image](https://user-images.githubusercontent.com/1621749/47932599-53a7de00-de8f-11e8-9d26-da984cd78576.png)

[2018-11-02 18:30] jonfroehlich opened #685 "Oops, news title is broken on individual news item page"
![image](https://user-images.githubusercontent.com/1621749/47933756-a8992380-de92-11e8-85b9-0e8629ee3569.png)

[2018-11-02 23:10] jonfroehlich opened #686 "Static files are no longer being served on www-test"
It appears that static files like javascript, css, and images are no longer being served correctly on makeabilitylab-test. Any thoughts on this @mechanicjay?

![image](https://user-images.githubusercontent.com/1621749/47944557-91216100-deb9-11e8-8098-e7be673f42d5.png)

![image](https://user-images.githubusercontent.com/1621749/47944562-967eab80-deb9-11e8-8661-7ada2d6fd2e1.png)

[2018-11-02 23:11] jonfroehlich commented on #673
Jason responded with:

This does appear to be working on www-test but not on production--perhaps because @mechanicjay didn't enable this on production yet (as we are testing on makeabilitylab-test first?)

[2018-11-02 23:33] jonfroehlich opened #687 "Makeability Lab Test Slow to Load and 'Waiting for Socket'"
![image](https://user-images.githubusercontent.com/1621749/47945126-0b9fb000-debd-11e8-9248-cd637ef06aff.png)

[2018-11-07 21:39] jonfroehlich opened #688 "Make Tammy Clegg an Associate..."
Have to figure out when that happened exactly...

[2018-11-07 23:35] higherdefender commented on #664
I agree. CSS is totally a mess right now!

[2018-11-07 23:43] jonfroehlich opened #689 "Black affiliation footer looks like crap both on desktop and mobile"
On desktop/laptop, the black affiliations footer looks bad because of **spacing** and **size**

![image](https://user-images.githubusercontent.com/1621749/48168364-c22bd800-e2a3-11e8-85d1-9f11f8462b5d.png)

And on mobile, it's even worse (horrendous). Related to: https://github.com/jonfroehlich/makeabilitylabwebsite/issues/571

![image](https://user-images.githubusercontent.com/1621749/48168385-d8

[2018-11-07 23:44] jonfroehlich commented on #571
@higherdefender has been working on this.

[2018-11-08 01:28] higherdefender commented on #689
I'll work on this one after you merge #690 to the main branch.

[2018-11-08 19:05] jonfroehlich commented on #689
Makes sense.

[2018-11-09 21:11] jonfroehlich commented on #632
- [ ] Need better banner images for https://makeabilitylab.cs.washington.edu/project/tactile/
- [ ] Need to add some gallery photos to SharedPhys

[2018-11-09 22:29] jonfroehlich opened #691 "Long photo captions get cutoff"
![image](https://user-images.githubusercontent.com/1621749/48291566-d569af80-e42b-11e8-8bc3-1f020eb73536.png)

[2018-11-09 22:30] jonfroehlich opened #692 "Should be able to click on photos to get higher resolution"
As now, photos are just small thumbnails--would be nice to view larger sizes

![image](https://user-images.githubusercontent.com/1621749/48291607-f3cfab00-e42b-11e8-9144-6fc002f2486c.png)

[2018-11-09 22:31] jonfroehlich opened #693 "Recent video heading on project page looks different from other headings"
![image](https://user-images.githubusercontent.com/1621749/48291661-1c57a500-e42c-11e8-8992-8676f1d87ecd.png)

[2018-11-09 22:38] misaugstad commented on #42
On mobile, when you click on specific news items, the text gets cut off on the left a bit:

![img_2819](https://user-images.githubusercontent.com/6518824/48291934-13b39e80-e42d-11e8-99bb-d03842c1b3d8.PNG)

[2018-11-09 23:05] jonfroehlich commented on #42
Thanks for this!

On Fri, Nov 9, 2018 at 2:38 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2018-11-12 19:30] higherdefender commented on #689
I tried to play around with the black affiliation when working on #690. For
now I used a hack to make it look better:
1. I made the spacing and size better for larger screen sizes.
2. I removed the affiliation for smaller widths.

To do this the really right way, all logo images should be the same size. I
will do some image editing later and see if it's possible to come to a
better solution.

On T

[2018-11-12 23:48] jonfroehlich commented on #571
@higherdefender did a nice job on this in https://github.com/jonfroehlich/makeabilitylabwebsite/pull/690. Here's the animated gif of the final solution. Note that the affiliation bar on the bottom (black banner) still needs to be fixed.

![dhruvsmobilefooter](https://user-images.githubusercontent.com/1621749/48381748-575b1200-e692-11e8-8491-ac19885b8163.gif)

[2018-11-12 23:48] #571 closed

[2018-11-12 23:50] jonfroehlich commented on #686
@mechanicjay rebooted the server and fixed it.

[2018-11-12 23:50] #686 closed

[2018-11-12 23:52] jonfroehlich commented on #689
Can you post some screenshots at different browser widths so I can see what you're talking about? It should also be easy enough to download all of the logo images and edit them...

[2018-11-12 23:53] jonfroehlich commented on #687
I believe @mechanicjay restarted the server to fix this.

[2018-11-12 23:53] #687 closed

[2018-11-12 23:54] jonfroehlich commented on #692
Duplicate of https://github.com/jonfroehlich/makeabilitylabwebsite/issues/676 but I'll close https://github.com/jonfroehlich/makeabilitylabwebsite/issues/676.

[2018-11-12 23:55] jonfroehlich commented on #676
Duplicate of https://github.com/jonfroehlich/makeabilitylabwebsite/issues/692

[2018-11-12 23:55] #676 closed

[2018-11-12 23:57] jonfroehlich commented on #673
Working now!

![image](https://user-images.githubusercontent.com/1621749/48381976-a786a400-e693-11e8-8aef-026738e631e1.png)

[2018-11-12 23:57] #673 closed

[2018-11-13 00:03] jonfroehlich opened #694 "Fix top of member.html"
Lots of things wrong:

- [x] Remove banner
- [x] When at top of page in non-scroll position, make menu bar white, text black, and ml logo black
- [x] Change all icons (e.g., twitter, mail icon) to be black
- [x] Fix web link icon so that it's not showing the little text at the bottom or find a different icon to use
- [ ] I don't like how the bio information is shown. What to do with this? Just in

[2018-11-13 02:39] higherdefender commented on #689
Yes, that’s the hack I did for now :P

On Mon, Nov 12, 2018 at 6:09 PM Jon Froehlich <notifications@github.com>
wrote:

--
sent from phone
-DJ

[2018-11-13 16:57] jonfroehlich commented on #233
Closing this because covered in https://github.com/jonfroehlich/makeabilitylabwebsite/issues/420

[2018-11-13 16:57] #233 closed

[2018-11-13 17:23] jonfroehlich commented on #558
@johnsonkuang said he's going to look into this.

[2018-11-13 17:23] jonfroehlich commented on #420
@johnsonkuang said he's going to look into this.

[2018-11-14 18:45] higherdefender commented on #689
Also, I am removing the UMD CS logo as per our discussion.

Pax vobiscum,
dhruvjain.info

Good emailing strategies, please read this
<http://thinksimplenow.com/productivity/15-tips-for-writing-effective-email/>
.

On Tue, Nov 13, 2018 at 2:27 PM Dhruv Jain <dhruvjainiit@gmail.com> wrote:

[2018-11-14 19:05] jonfroehlich commented on #689
Our discussion was that the UMD CS logo should be removed *after* Seokbin graduates and we no longer have ML members at Maryland.

[2018-11-14 19:11] higherdefender commented on #689
Ah okay. And the UMD logo would still stay?

On Wed, Nov 14, 2018 at 11:08 AM Jon Froehlich <notifications@github.com>
wrote:

[2018-11-27 12:50] jonfroehlich opened #695 "Add in FAQ"
Add in FAQ (based on this http://www.cs.umd.edu/~jonf/advising.html) that also has a ugrad research apply link.

Update: now that @htadeusiak is going to work on this, I want to be more clear what I was envisioning here. I want to base the general design on this page https://sidewalk.cs.washington.edu/faq and https://sidewalk-test.cs.washington.edu/labelingGuide where we have a floating left menu

[2018-11-27 18:38] jonfroehlich opened #696 "Need to special case Dhruv's tenure with the lab"
Currently, his start date is shown as May 2014 due to his internship at UMD... but really, he didn't start his PhD studies until Sept 2017 so this should be fixed. May need to write special case code for this (though I hate to do that because its kludgy).

![image](https://user-images.githubusercontent.com/1621749/49103559-8647bb00-f230-11e8-9155-ba8ec021da0c.png)

[2018-12-14 19:19] jonfroehlich commented on #420
@johnsonkuang, have you been able to work on this as expected? If not, I'm going to unassign you.

[2018-12-15 21:35] htadeusiak commented on #694
@jonfroehlich What about this for the layout of the bio information?

<img width="1440" alt="screen shot 2018-12-15 at 1 34 28 pm" src="https://user-images.githubusercontent.com/33988444/50047635-352c2980-006e-11e9-90b1-b8296305e5c8.png">

[2018-12-15 21:46] jonfroehlich commented on #694
Can you mock up 5-10 ideas and then post them. You can use PowerPoint, Keynote, or a tool of your preference for the mocks.

Also might help to do some background design research (i.e., how do others layout a headshot with links + bio).

Sent from my iPhone

[2018-12-16 20:03] johnsonkuang commented on #420
I’ve been working on it, will push the code once I’m finished.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Friday, December 14, 2018 11:19 AM
To: jonfroehlich/makeabilitylabwebsite
Cc: johnsonkuang; Mention
Subject: Re: [jonfroehlich/makeabilitylabwebsite] Revise how we bootstrap content (#420)

@johnsonkuang<ht

[2018-12-16 22:31] jonfroehlich commented on #420
Great! Do you have an ETA?

Sent from my iPhone

[2018-12-19 16:14] jonfroehlich commented on #670
@htadeusiak, can you take a look at this and possibly fix it?

[2018-12-20 05:07] htadeusiak commented on #694
Here is what I found so far. I'm not too stoked on anything yet, so I'm going to keep looking. But let me know if anything seems to be appealing to you.

[Member Page Design Research.pdf](https://github.com/jonfroehlich/makeabilitylabwebsite/files/2697470/Member.Page.Design.Research.pdf)

[2018-12-20 12:02] #670 closed

[2018-12-20 12:07] jonfroehlich commented on #694
Thanks for conducting this preliminary design research. I agree that you haven't yet found an appealing solution. I suppose I like this one best:

![image](https://user-images.githubusercontent.com/1621749/50283993-9add3480-0425-11e9-95f4-0a945de7e954.png)

Unless we find a much better solution, I think we might be able to get away with slight modifications to the current design:

![image](https:/

[2018-12-20 12:09] jonfroehlich commented on #558
@johnsonkuang can we get a status update? We now have a few new Makeability Labbers actively working on the webpage (e.g., @htadeusiak) and this Issue remains critical--it would help us all better setup our local dev environments with content.

Can you give us a sense of what's holding you up and your ETA. You communicated with me over email stating that you're working on it...

[2018-12-20 12:15] jonfroehlich opened #704 "Too much space between project thumbnail and label on member page"
@htadeusiak fixed https://github.com/jonfroehlich/makeabilitylabwebsite/issues/670 but now I noticed that there is too much vertical space between the project thumbnail and label on the member page. Note that because this code is responsive and the thumbnails auto-resize based on window width, this vertical distance is variable.

![image](https://user-images.githubusercontent.com/1621749/50284373-

[2018-12-20 12:17] #669 closed

[2018-12-20 19:56] htadeusiak commented on #704
How does this look?

<img width="1325" alt="screen shot 2018-12-20 at 11 55 48 am" src="https://user-images.githubusercontent.com/33988444/50307841-54500000-044e-11e9-9d6f-2232c9433446.png">

[2018-12-20 19:59] jonfroehlich commented on #704
Better! But to be sure I need to see a direct before and after. Also need to see multiple screenshots for different window widths since the Html/css is responsive.

Sent from my iPhone

[2018-12-20 20:13] htadeusiak commented on #704
1. Before:
<img width="1301" alt="screen shot 2018-12-20 at 12 04 12 pm" src="https://user-images.githubusercontent.com/33988444/50308201-6a11f500-044f-11e9-8582-1c3a1a8c7517.png">
1. After:
<img width="1325" alt="screen shot 2018-12-20 at 11 55 48 am" src="https://user-images.githubusercontent.com/33988444/50308209-6ed6a900-044f-11e9-90aa-bbd3d6cd71ff.png">

2. Before:
<img width="1166" alt="scre

[2018-12-20 20:14] jonfroehlich commented on #704
Looks great. You can merge this PR.

Sent from my iPhone

[2018-12-20 20:20] #704 closed

[2018-12-21 01:06] htadeusiak commented on #695
Here is my first draft of the FAQ. I tried copying the format of the labeling guide from Project Sidewalk. Correct me if I am wrong, but the labeling guide would open a new page every time you chose a different obstacle from the panel. I feel like that is slightly inefficient so I removed it from my solution. The webpage will only load once at the beginning.

I have not done any CSS to it so it's

[2018-12-21 18:07] jonfroehlich commented on #695
Woohoo! Looks great. I think we should have a header on the FAQ (to make us feel more accessible and fun--maybe the same header as the people page; I can help with this but just put the standard header code in there).

I'll obviously have to edit some of the text because it's old and written for UMD but we can do that after we finalize on the design and get the PR merged on makeability-test.

Coul

[2018-12-21 18:32] htadeusiak commented on #695
This example is what would be in the "content" of the page. So yes header and footer will be there.

I know that all the pages extend the base.html page, can we do that with this page? Or should I just copy the header and footer code from that page into this one?

I'll fix the indentation.

[2018-12-21 18:45] jonfroehlich commented on #695
Just extend base.html--that should be fine.

And then I agree with you that eventually we will want to Django'fy this (will want to create another Issue for it) so that we can add and edit content via the Django admin interface. However, before we do so, I want to find a rich text editor plugin for Django. Can you make this new issue?

[2018-12-24 01:33] htadeusiak commented on #695
Added the banner, header, and footer through extend base.html. Adjusted the white space indents.

I also added some css transitions to the panel guide. I can refine them more, but wanted your opinion on if you wanted them for this page.

Is there anything else that you wanted for this page I missed?

![faq2](https://user-images.githubusercontent.com/33988444/50389001-9ab88f80-06d8-11e9-8076-ffbc6c

[2018-12-24 01:40] htadeusiak opened #706 "Find a rich text editor plugin for Django"
Need to find a rich text editor plugin for Django. We are adding a FAQ page and want to add/edit content of this page via the Django admin interface.

[2018-12-24 16:50] jonfroehlich commented on #706
We also want a rich editor plugin for news entries, etc. I believe we already have an issue for this but it should be linked explicitly.

Sent from my iPhone

[2018-12-24 16:50] jonfroehlich commented on #695
Looks excellent. Very nice job!!

Sent from my iPhone

[2018-12-24 17:15] htadeusiak commented on #706
#35

[2018-12-26 07:50] htadeusiak commented on #694
How does this look for the white nav bar? I had it fade into the regular black nav bar. Is that what you were looking for? Or did you want it to fade into another color?

![personpage](https://user-images.githubusercontent.com/33988444/50437627-6b07b400-089f-11e9-8cf0-f71dacf3c804.gif)

[2018-12-26 16:01] johnsonkuang commented on #558
Back from break, finishing up import command today, will push today.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Thursday, December 20, 2018 4:09:57 AM
To: jonfroehlich/makeabilitylabwebsite
Cc: johnsonkuang; Mention
Subject: Re: [jonfroehlich/makeabilitylabwebsite] Running imp

[2018-12-26 16:20] jonfroehlich commented on #558
Great! Looking forward to seeing it. @htadeusiak can help us test!

[2018-12-26 17:47] htadeusiak commented on #694
Yes, I believe I fixed that issue in another one of my PRs.

[2018-12-26 17:48] jonfroehlich commented on #694
ok!

[2018-12-26 18:03] htadeusiak commented on #694
Would it be alright if I push what I have and open a new issue for the member page design?

[2018-12-26 18:13] jonfroehlich commented on #694
Yep!

[2018-12-27 04:06] johnsonkuang commented on #558
I’ve come up with a problem while trying to run importpubs, it now creates and saves some publication objects but for some exceptions. These exceptions will throw these errors:
Publication 'iLearn on the iPhone: Real-Time Human Activity Classification on Commodity Mobile Phones' has just been saved with PDF=/code/media/publications/media/temp/iLearn_on_the_iPhone_Real_Time_Human_Activity_Classific

[2018-12-27 13:42] jonfroehlich commented on #558
@johnsonkuang, is the 'iLearn on the iPhone: Real-Time Human Activity Classification on Commodity Mobile Phones' the only pub that messes up? Perhaps related to this Issue (https://github.com/jonfroehlich/makeabilitylabwebsite/issues/578#issuecomment-425596689)?

Let me re-upload the PDF and see what happens. Stay tuned.

[2018-12-27 13:48] #694 closed

[2018-12-27 13:48] #629 closed

[2018-12-27 13:49] #695 closed

[2018-12-27 13:52] #693 closed

[2018-12-27 13:54] jonfroehlich commented on #689
@higherdefender, what's the status of this? Perhaps @htadeusiak could take over if you tell him which branch you were working on and explain the current status...

[2018-12-27 13:59] jonfroehlich opened #710 "Fix left alignment for people page"
Everything should be neatly left aligned and follow this red line annotation:

![image](https://user-images.githubusercontent.com/1621749/50482644-7ee51000-099c-11e9-8223-4ebc46fbe71a.png)

[2018-12-27 17:30] #674 closed

[2018-12-27 17:30] #682 closed

[2018-12-27 18:40] johnsonkuang commented on #558
I’m not too sure, I think it’s just that it needs to auto-generate a thumbnail for the pdf but the code doesn’t seem to work right now (i.e. the entered format doesn’t seem to be what ImageMagick is expecting)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Thursday, December 27, 2

[2018-12-27 18:46] jonfroehlich commented on #558
Does it work now? I re-uploaded the iLearn pdf (but only on the production site and not on the test site). I couldn't tell from your post whether you read my response (https://github.com/jonfroehlich/makeabilitylabwebsite/issues/558#issuecomment-450152881) and tried your code again.

[2018-12-27 18:55] jonfroehlich commented on #558
I've also updated the priority level to 'Very High' for this Issue in general as we will have a set of new students working on the ML website in Winter'19 and getting this to work will greatly assist in setting up local dev environments.

[2018-12-27 18:56] jonfroehlich commented on #706
Gonna close this because redundant with https://github.com/jonfroehlich/makeabilitylabwebsite/issues/35

[2018-12-27 18:56] #706 closed

[2018-12-27 18:58] jonfroehlich commented on #35
As @htadeusiak noted in https://github.com/jonfroehlich/makeabilitylabwebsite/issues/706, we also want to find a rich text editor for the new 'FAQ' page:

@htadeusiak, do you think this is something within your skillset to start addressing? First step would be to do background research on options and propose one or two choices. Second step would be to play around with plugins and figure out which

[2018-12-27 19:00] jonfroehlich commented on #671
I believe @htadeusiak has been working on this. Assigning him.

[2018-12-27 19:02] jonfroehlich commented on #653
I've thought more about this: and I agree that we should be tracking specific grants (whether or not we float the information externally).

[2018-12-27 19:06] jonfroehlich commented on #650
Also, in looking at this now, it makes our people page look cluttered. So, maybe the projects should be displayed in a different way or maybe only on mouse over of the individual member? Thoughts?

You can see this live now on https://makeabilitylab-test.cs.washington.edu/people/.

@EdigaHe, what do you think? How can we improve our visual design here so it doesn't look so cluttered?

[2018-12-27 19:18] jonfroehlich commented on #636
Now using `display_video_snippet.html` in videos.html, index.html, and project.html. Videos have not been added to member pages. If we decide we want them, we should create a new issue.

[2018-12-27 19:18] #636 closed

[2018-12-27 19:19] jonfroehlich opened #711 "Consider renaming 'FAQ' page?"
Is 'FAQ' a good name for this new page? Or should it be 'About Us'? Or something else?

[2018-12-27 20:38] johnsonkuang commented on #558
Import pubs now works

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Thursday, December 27, 2018 10:55:01 AM
To: jonfroehlich/makeabilitylabwebsite
Cc: johnsonkuang; Mention
Subject: Re: [jonfroehlich/makeabilitylabwebsite] Running importpubs throws FileNotFoundError (#558)

I've

[2018-12-27 20:42] jonfroehlich commented on #558
What was wrong? What did you have to fix? Also, your PR is messed up: https://github.com/jonfroehlich/makeabilitylabwebsite/pull/592#issuecomment-450227504

[2018-12-27 20:46] higherdefender commented on #689
@htadeusiak <https://github.com/htadeusiak> Yes, please go ahead on this if
you would like to. The branch is mobile-footer-black-affiliation. I haven't
done much (just changed some padding a bit) so you could just start from
the master branch itself if you want.

On Thu, Dec 27, 2018 at 5:54 AM Jon Froehlich <notifications@github.com>
wrote:

[2018-12-27 20:50] jonfroehlich commented on #689
Thanks @higherdefender. Can you give us a more comprehensive idea of what you were planning to do and the discussions we've had thus far?

[2018-12-27 20:52] jonfroehlich commented on #466
Hmm, seems to be a problem again:

![image](https://user-images.githubusercontent.com/1621749/50494120-4530fb00-09d6-11e9-971a-392674827b44.png)

@htadeusiak, can you investigate?

[2018-12-27 21:10] aileenzeng commented on #711
I think FAQ is nice if there’s information on the page that isn’t lab specific (an example would be the section on advice for PhD students at UMD on your old site). Otherwise, I think “About Us” sounds nice!

[2018-12-27 21:13] higherdefender commented on #689
Oh yes! Sure!

So, we were thinking of how to make the black affiliation footer appear
well on different screen sizes (currently it looks awkward on smaller
screen sizes). One solution that both Jon and I liked is to have full logo
(with text) on big screen size and put icons on the small screen size.

As an example, see this logo:

[image: image.png]

On smaller screen sizes, going by our example

[2018-12-27 21:19] jonfroehlich commented on #689
Thanks @higherdefender but note that your images didn't come through.

[2018-12-28 21:58] jonfroehlich commented on #466
Thanks!

Sent from my Apple Watch

On Dec 28, 2018, at 1:25 PM, Hank Tadeusiak <notifications@github.com> wrote:

[2018-12-29 13:49] jonfroehlich commented on #558
@johnsonkuang, I see that you closed this PR (https://github.com/jonfroehlich/makeabilitylabwebsite/pull/592) but you didn't create a new one or respond to my questions above. Can you do that when you get a chance?

[2018-12-29 14:27] jonfroehlich opened #714 "Weird font for News.html page selection index widget"
Looks like maybe a Serif font? All fonts on the webpage should be standardized.

![image](https://user-images.githubusercontent.com/1621749/50539288-c3a2af80-0b32-11e9-8835-206b214905da.png)

[2018-12-29 19:31] htadeusiak commented on #618
I believe that someone already fixed this issue. The test website seems to fix these issues. Its rendered to 2 lines though.

[2018-12-29 19:33] htadeusiak commented on #631
Can I close this issue?

[2018-12-29 19:59] jonfroehlich commented on #618
I don’t think the test website has html-formatted news entries. You’ve got to enter some test cases.

Sent from my iPhone

[2018-12-29 20:01] jonfroehlich commented on #631
Yep!

Sent from my iPhone

[2018-12-29 21:31] #631 closed

[2018-12-29 21:51] htadeusiak commented on #689
I start at 380px wide and expand it out. Opinions?

![resize](https://user-images.githubusercontent.com/33988444/50542309-59f4c680-0b6f-11e9-8ead-b752040a90f4.gif)

I could have a single UMD logo with no text instead of the two UMD logo when its mobile. So that would just be three icons instead of four. It would look something like this:
<img width="335" alt="screen shot 2018-12-29 at 1 49 39 pm"

[2018-12-29 22:17] jonfroehlich commented on #689
I like the 3 logo version (second option). It’s clean and simple. Nice job.

Sent from my iPhone

[2019-01-01 19:57] jonfroehlich opened #716 "Update collaborators"
Lots of this information needs to get updated... maybe we can do it during a ML meeting.

[2019-01-02 19:56] jonfroehlich opened #717 "Add new students"
For 'Current Team'

- [x] Tadashi Grindeland (non-visual ui dev with Venkatesh)
- [x] Lukas Strobel (Project Sidewalk)
- [x] Paari Gopal (Project Sidewalk)
- [x] Marianne Aubin Le Quere (Project Sidewalk)
- [x] Hank Tadeusiak (website dev)
- [x] Ather Sharif (temporal tracking urban accessibility)

For 'Collaborators'
- [x] Galen Weld (Project Sidewalk)
- [x] Esther Jang (Project Sidewalk)

[2019-01-02 20:08] #466 closed

[2019-01-02 20:23] htadeusiak commented on #689
Before:
<img width="1440" alt="screen shot 2019-01-02 at 12 20 47 pm" src="https://user-images.githubusercontent.com/33988444/50610741-e6152f80-0e88-11e9-9dbb-6a7f2f217ec1.png">
After:
<img width="1440" alt="screen shot 2019-01-02 at 12 20 38 pm" src="https://user-images.githubusercontent.com/33988444/50610744-e9a8b680-0e88-11e9-9614-85efa81d9068.png">

Before:
<img width="725" alt="screen shot 20

[2019-01-02 20:35] #689 closed

[2019-01-02 20:37] jonfroehlich commented on #689
Looks good. Just merged the PR. Unfortunately, makeability-test is down
right now but hopefully it will be up soon so we can test there too.

On Wed, Jan 2, 2019 at 12:23 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonf

[2019-01-02 20:41] jonfroehlich opened #719 "makeability-test is down"
![image](https://user-images.githubusercontent.com/1621749/50611556-bca9d300-0e8b-11e9-80c0-24a3a3821650.png)

@mechanicjay said:

[2019-01-02 23:41] jonfroehlich opened #720 "At some window widths, ML logo in menubar has no left margin"
At some window widths, the ML logo has no left margin so it's pressed up exactly against left side of window. This should not happen.

![image](https://user-images.githubusercontent.com/1621749/50617995-df94b100-0ea4-11e9-926f-4545e6a36055.png)

[2019-01-02 23:43] jonfroehlich opened #721 "At some window widths, menubar drops to two lines"
This should not happen. Menu bar should either be a single line or collapse to hamburger menu.

![image](https://user-images.githubusercontent.com/1621749/50618027-0eab2280-0ea5-11e9-852f-f94f663838fb.png)

[2019-01-03 00:11] jonfroehlich commented on #619
Still need to assign this to the ubicomp'08 paper (flowers or robot army) once new code is pushed to production

[2019-01-03 00:34] jonfroehlich commented on #721
This might be because I was running the `adding-import-commands` branch...

[2019-01-03 00:34] jonfroehlich commented on #720
This might be because I was running the `adding-import-commands` branch...

[2019-01-03 00:38] jonfroehlich opened #722 "Once you click down into a sub-header, no way to show all questions/answers"
![image](https://user-images.githubusercontent.com/1621749/50619211-b4ae5b00-0eac-11e9-931f-10685b2aa227.png)

![image](https://user-images.githubusercontent.com/1621749/50619218-c0018680-0eac-11e9-9c71-9f83752200fb.png)

Maybe make the FAQ part here clickable to show all questions/answers again?

![image](https://user-images.githubusercontent.com/1621749/50619232-d0b1fc80-0eac-11e9-9d3e-ec7249c62

[2019-01-03 04:17] #710 closed

[2019-01-03 04:32] jonfroehlich opened #724 "Django'fy FAQ page"
Once I finish writing some initial content and @htadeusiak finishes the design, we'll want to loop around and Django'fy the FAQ page. I think the FAQ model will have at least the following fields:

- Question (the title)
- Short url (for anchor)--though this could be auto-generated by title and maybe this is better
- Response (rich text, if possible, see: https://github.com/jonfroehlich/makeabilit

[2019-01-03 05:53] htadeusiak commented on #671
I've been jumping around a bit on issues, I will pick this one up after finding a rich text editor

[2019-01-03 06:00] jonfroehlich commented on #671
Thanks!

Sent from my iPhone

[2019-01-03 18:51] htadeusiak commented on #35
In addition to the two choices you recommend I'm going to look into
3. https://djangopackages.org/packages/p/django-summernote/

I'm going to start playing around with these three.

[2019-01-03 19:05] jonfroehlich commented on #35
Nice, summernote looks great (most recent release was 12/31/2018 as well). When evaluating these frameworks, we likely want to go with the most *popular* library that is also well supported. It would be frustrating and inefficient to spend time integrating a framework only for it to be dropped or unsupported.

[2019-01-03 21:27] htadeusiak opened #726 "Left align all top level headers in the sidebar menu with the FAQ text in the gray box"
Left align all top level headers in the sidebar menu with the FAQ text in the gray box. That is, remove the indentation.

[2019-01-04 01:01] jonfroehlich opened #727 "Mousing over people results in blank image"
@htadeusiak when you were working on the jQuery implementation of this, did you not disable the CSS mouseover? See an example of the problem below (when I mouse over my image). Check it out on the test server: https://makeabilitylab-test.cs.washington.edu/people/

![image](https://user-images.githubusercontent.com/1621749/50669313-3e2b5f00-0f79-11e9-86b1-e4d46e0157fa.png)

[2019-01-04 01:06] jonfroehlich opened #728 "Too much vertical space between headshots and names"
Test server on left (with newer code); production server on the right

![image](https://user-images.githubusercontent.com/1621749/50669405-e93c1880-0f79-11e9-9092-ee9f858d4b50.png)

[2019-01-04 02:15] htadeusiak commented on #726
Before:
<img width="1440" alt="screen shot 2019-01-03 at 6 13 55 pm" src="https://user-images.githubusercontent.com/33988444/50670926-64ee9300-0f83-11e9-9afc-633c9cd606bf.png">
After:
<img width="1440" alt="screen shot 2019-01-03 at 6 14 44 pm" src="https://user-images.githubusercontent.com/33988444/50670939-7f287100-0f83-11e9-899a-45ab797c71f7.png">

Is this what you wanted?

[2019-01-04 02:34] jonfroehlich commented on #726
Yes! Nice job!

Sent from my iPhone

[2019-01-04 04:42] #726 closed

[2019-01-04 05:55] jonfroehlich opened #732 "Update FAQ sidebar to match new content"
I eliminated all of your temporary fill content for the faq and added real content. @htadeusiak, can you update the sidebar accordingly with the headers and anchor links.

![image](https://user-images.githubusercontent.com/1621749/50675300-26b49c00-0fa2-11e9-884f-13a9584ce6c0.png)

[2019-01-04 18:28] jonfroehlich opened #733 "None is being abbreviated as a middle name in citations"
![image](https://user-images.githubusercontent.com/1621749/50704184-5ba90900-100b-11e9-9bb7-86b1a5d0e61f.png)

![image](https://user-images.githubusercontent.com/1621749/50704201-695e8e80-100b-11e9-9b7d-9b8142c593dc.png)

[2019-01-04 20:17] jonfroehlich opened #735 "Add mouseover permalinks to each question in faq"
Similar to like [Django docs](https://docs.djangoproject.com/en/2.1/):

![image](https://user-images.githubusercontent.com/1621749/50708831-8a7aab80-101a-11e9-8b5e-81bc327a6021.png)

(although I don't like their mouseover icon for the link, instead we could use this
![image](https://user-images.githubusercontent.com/1621749/50708855-9ebea880-101a-11e9-9ded-c5d8f601e409.png) or something similar

T

[2019-01-04 20:33] jonfroehlich opened #736 "Clicking on minus in faq sidebar menu doesn't collapse expanded menu"
![image](https://user-images.githubusercontent.com/1621749/50709516-ef370580-101c-11e9-87ed-07bd97241d1d.png)

[2019-01-04 20:56] jonfroehlich opened #737 "Can the FAQ menu float on the side just like the pubs sidebar?"
![image](https://user-images.githubusercontent.com/1621749/50710540-1e02ab00-1020-11e9-883a-80ea3ada52fb.png)

@htadeusiak, thoughts?

[2019-01-04 21:52] jonfroehlich commented on #366
According to @aileenzeng, this issue is still a problem. Whoever investigates this may want to setup their local dev environment to act exactly like the test/production servers (i.e., use PostgreSQL rather than sqlite) to debug, determine the problem, and then test a solution.

[2019-01-04 23:02] jonfroehlich opened #738 "Show links beneath talks only on hover"
The small links below talks should only be visible on mouse hover (over any part of the div related to that talk)

![image](https://user-images.githubusercontent.com/1621749/50715318-9cb41400-1031-11e9-9cfd-b7042323f01f.png)

[2019-01-05 00:54] #727 closed

[2019-01-05 00:54] #728 closed

[2019-01-05 00:54] #732 closed

[2019-01-05 00:57] htadeusiak commented on #737
Yes we can do this. The only issue I see is if you make the questions list too long, the user will not be able to click/see some of the questions below the visible window. Does that make sense?

[2019-01-05 01:37] jonfroehlich commented on #737
Doh, you’re right. Not a good idea! :) let’s close this Issue.

Sent from my iPhone

[2019-01-05 02:56] #737 closed

[2019-01-05 04:38] htadeusiak commented on #735
I used the same web link icon we use in other parts of the website. Does this look ok, or would you like me to use a different one/reformat it?
<img width="1440" alt="screen shot 2019-01-04 at 8 36 34 pm" src="https://user-images.githubusercontent.com/33988444/50720354-87a2a980-1060-11e9-9818-90af164f8e08.png">

[2019-01-05 16:16] jonfroehlich commented on #735
Looks great!

Sent from my iPhone

[2019-01-07 03:14] jonfroehlich commented on #736
I think this one.

[2019-01-07 03:22] #714 closed, assigned to htadeusiak

[2019-01-08 07:08] htadeusiak commented on #736
![faq](https://user-images.githubusercontent.com/33988444/50815214-2e8d7c80-12d1-11e9-84a5-b9cd12896458.gif)

[2019-01-08 07:36] htadeusiak opened #745 "At some widths the Makeability Lab logo it not vertically centered"
![screen shot 2019-01-07 at 11 34 57 pm](https://user-images.githubusercontent.com/33988444/50816308-01db6400-12d5-11e9-8d6c-38a020c0128e.png)

[2019-01-08 07:54] htadeusiak commented on #720
I would like to get this merged before I look at the double line issue. Also slight change in the text of the logo, I don't know if you would like to open another issue for this.
![resize](https://user-images.githubusercontent.com/33988444/50817065-77483400-12d7-11e9-8085-65024fdf559d.gif)

[2019-01-08 13:13] jonfroehlich commented on #736
Nice job. Merged!

On Mon, Jan 7, 2019 at 11:09 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-08 13:54] jonfroehlich commented on #745
Good catch. I noticed this on mobile too.

Sent from my iPhone

[2019-01-08 18:33] jonfroehlich commented on #738
This doesn't seem to be working on the landing page (arguably the most important page on the website).

[2019-01-08 18:35] jonfroehlich commented on #745
![image](https://user-images.githubusercontent.com/1621749/50851217-046ba700-1331-11e9-93fc-823b030ecf17.png)

[2019-01-09 04:47] jonfroehlich opened #747 "Figure out why Anthony Li is listed on Project Sidewalk twice on his member page"
I suspect it's because he's served multiple tours in the lab from high school to now... and we're looping over some structures wrong:

![image](https://user-images.githubusercontent.com/1621749/50877386-7a4e2d80-1386-11e9-8dd2-9c0246152d83.png)

[2019-01-10 04:34] jonfroehlich opened #748 "Bookmarking this for later: https://cudbg.github.io/lab/"
I like how the website uses mouseovers to hide content (and create a nice clean look)--for example, see the people listing

[2019-01-10 18:21] jonfroehlich opened #749 "Paper titles should be hyperlinked on pubs"
Paper titles should be hyperlinked on pubs but the visual look should stay the same (i.e., titles should not be underlined or look blue)

![image](https://user-images.githubusercontent.com/1621749/50988413-61966280-14c1-11e9-81f3-bcbdc90fc426.png)

[2019-01-10 19:24] jonfroehlich opened #750 "Project pages on mobile"
Project pages on mobile don't look great: for one thing, your greeted by Quick Info and Recent News rather than About. The quick fix for this should be just to hide these things on mobile screens (that is, to be clear: hide Quick Info and Recent News) so that About is immediately visible just after the header.

![image](https://user-images.githubusercontent.com/1621749/50991662-146abe80-14ca-11e9-

[2019-01-10 19:44] jonfroehlich commented on #721
@htadeusiak, are you on this? You worked on something related...

[2019-01-10 19:44] jonfroehlich commented on #720
I merged this... but the Issue is still open. Is there work remaining?

[2019-01-10 19:49] htadeusiak commented on #720
It's been doing this lately, I'm not sure why. But even after you merge, it doesn't automatically close the issue. There are another couple issues that have been merged but not closed.

But no, there is no work remaining. I'll close it now.

[2019-01-10 19:49] #720 closed

[2019-01-10 19:49] #736 closed

[2019-01-10 19:57] htadeusiak commented on #738
This is fixed in pr #744 I believe

[2019-01-10 20:15] htadeusiak commented on #749
On hover should they become underlined? It does this on the homepage already.

[2019-01-10 20:17] htadeusiak commented on #721
Ill get this done today

[2019-01-10 20:22] jonfroehlich commented on #738
OK, I'll need to check it. I missed that PR.

[2019-01-10 21:41] jonfroehlich commented on #691
Not sure what the best fix is here...

[2019-01-11 18:46] htadeusiak commented on #717
Is Marianne Aubin Le Quere a PHD Student? I just uploaded her to the website if you would like to take a look and make sure I'm doing it correctly.

[2019-01-11 18:49] jonfroehlich commented on #717
MS student in HCDE.

Sent from my iPhone

[2019-01-11 20:35] htadeusiak commented on #717
Correct me if I'm wrong, but for Ather I don't see a temporal tracking project in the database. For now I uploaded him with just Project Sidewalk.

<img width="325" alt="screen shot 2019-01-11 at 12 33 41 pm" src="https://user-images.githubusercontent.com/33988444/51058307-37b26e00-159d-11e9-9633-743a5f2bc381.png">

[2019-01-11 21:58] jonfroehlich commented on #717
Urban Accessibility Evolution.

Sent from my iPhone

[2019-01-12 02:55] #749 closed

[2019-01-12 02:57] #738 closed

[2019-01-13 00:58] #745 closed

[2019-01-13 05:08] jonfroehlich commented on #17
Closed because now implemented in the faq (and links to a Google Form).

[2019-01-13 05:08] #17 closed

[2019-01-14 04:07] #655 closed

[2019-01-14 17:56] #750 closed

[2019-01-15 06:10] htadeusiak commented on #671
Take a look at some of these. Looking at other school's research teams, I've found that most lead to that person's personal website.

I think a pop up could be fun. However, we would probably need to restructure the information on an individual member page to better fit the pop up.

Let me know what you think.

[People Page Design Research PT 2.pdf](https://github.com/jonfroehlich/makeabilitylabwe

[2019-01-15 06:30] htadeusiak opened #756 "HCDE department and extra space after member title bugs"
You can see Marianne is a HCDE student. However, when you dive into her page it only displays the letter H for her major.

There is also an added space after the member's title and before the comma.

- [x] Fix HCDE bug
- [x] Remove added space after member title and department

HCDE Bug:
![screen shot 2019-01-14 at 10 17 18 pm](https://user-images.githubusercontent.com/33988444/51162280-7d479300-1

[2019-01-15 10:14] jonfroehlich commented on #756
Also, her content on people page is one line too long due to length of name. Need a solution.

Sent from my iPhone

[2019-01-15 17:40] htadeusiak commented on #756
I think we make the font slightly smaller so it fits on one line.

[2019-01-15 17:46] jonfroehlich commented on #756
Hahah. Ok. Let’s try it. Maybe make the other text beneath the name slightly smaller as well?

Sent from my iPhone

[2019-01-16 03:31] #721 closed

[2019-01-16 04:34] aileenzeng opened #758 "Citation popup on member and project pages not showing"
When I click the citation button, I only get a blue box around citation (the pop-up is missing). This only happens on the member pages - it seems to be fine everywhere else!

![image](https://user-images.githubusercontent.com/25534091/51226532-aaf11280-1904-11e9-8b32-1160043bef99.png)

[2019-01-17 13:57] jonfroehlich opened #759 "Add general advice section to FAQ"
I used to have this in the UMD version of the faq page but it got outdated. When meeting with Philip Guo yesterday, he shared his advice page, which I think is great: http://pgbovine.net/managing-me-as-your-advisor.htm

[2019-01-18 05:31] jonfroehlich opened #760 "Mouseover on member.html menubar turns white (invisible)"
To fix, either (1) make black bg on mouseover'ed text or (2) changed mouseover text color to a dark gray (or blue?)

![image](https://user-images.githubusercontent.com/1621749/51367396-3dc5b480-1a9f-11e9-85b0-2a95ad239752.png)

[2019-01-18 05:45] DDaiJ commented on #691
<img width="563" alt="screen shot 2019-01-16 at 4 37 01 pm" src="https://user-images.githubusercontent.com/37788907/51367744-e4f71b80-1aa0-11e9-9579-eefe393b188c.png">
<img width="563" alt="screen shot 2019-01-16 at 4 37 01 pm" src="https://user-images.githubusercontent.com/37788907/51367746-e6284880-1aa0-11e9-90bd-e6846c936c8b.png">

this is what it looks like right now, one is for short text and

[2019-01-18 05:52] jonfroehlich opened #761 "Vertical spacing between thumbnails on project gallery is messed up"
There is no vertical spacing in the project gallery. Something got messed up:

![image](https://user-images.githubusercontent.com/1621749/51367992-11f7fe00-1aa2-11e9-8d3b-1e1853958073.png)

Should likely be something like 10px or 15px or even more vertical spacing between each row

[2019-01-18 06:09] jonfroehlich opened #762 "Banner images for smarthome dhh project are low res"
I couldn't find the original high-level images so just grabbed a few for now. Need to be replaced by their hi-res counterparts:

![image](https://user-images.githubusercontent.com/1621749/51368498-892e9180-1aa4-11e9-8623-89c7ab36644d.png)

[2019-01-18 23:42] DDaiJ commented on #691
<img width="499" alt="screen shot 2019-01-18 at 3 42 25 pm" src="https://user-images.githubusercontent.com/37788907/51418325-ae201480-1b37-11e9-948a-e88ba0b8f355.png">
<img width="523" alt="screen shot 2019-01-17 at 1 02 11 pm" src="https://user-images.githubusercontent.com/37788907/51418329-af514180-1b37-11e9-8ce2-f7134944c01f.png">

before and after

[2019-01-19 00:37] DDaiJ commented on #691
The text length is set to have max_length=255 in the model
And the screenshot above shows how it would look when the text length reaches maximum.

<img width="586" alt="screen shot 2019-01-18 at 4 36 13 pm" src="https://user-images.githubusercontent.com/37788907/51419419-3fdf5000-1b3f-11e9-8b3c-4eac653e9297.png">

Just in case you are interested, this is how it looks like when the text is shorter

[2019-01-19 00:49] jonfroehlich commented on #691
Great. Thanks!

Sent from my iPhone

[2019-01-22 19:31] #756 closed

[2019-01-22 20:14] htadeusiak commented on #717
On it

[2019-01-22 20:20] jonfroehlich opened #768 "HydroSense should not be showing as a project"
As it's from my grad school days.

![image](https://user-images.githubusercontent.com/1621749/51563039-1de81500-1e40-11e9-859f-727f253e0fe1.png)

[2019-01-22 20:27] jonfroehlich opened #769 "Bug: Anchored Audio Sampling Timeline Figure"
Something is wrong with the AAS figure, it's not showing up correctly:

![image](https://user-images.githubusercontent.com/1621749/51563336-f34a8c00-1e40-11e9-80f6-cc6ce48d7568.png)

The layout should be like this:

![image](https://user-images.githubusercontent.com/1621749/51563354-052c2f00-1e41-11e9-8871-65893a24e934.png)

[2019-01-22 20:33] htadeusiak opened #770 "Reorganize the order on the people page"
As of right now, the people.html page has sections that are structured in the order listed below.
current team -> alumni -> current collaborators ->  past collaborators

Jon and I thought it would be better to have it organized in this order:
current team -> current collaborators -> alumni -> past collaborators

Essentially, flip the current collaborators and alumni sections.

[2019-01-23 22:11] #761 closed

[2019-01-24 02:00] #717 closed

[2019-01-25 22:50] imiao97 commented on #692
That look good, what do you think about something like this? https://www.w3schools.com/howto/howto_css_zoom_hover.asp
where it zoom in when hovered and back to normal when unhovered.

[2019-01-26 02:05] htadeusiak commented on #35
I tested Tinymce and CKEditor on my personal Django project. Out of the two I prefer CKEditor. It's fairly easy to implement and carries more features straight out the box such as a file/img uploader.

I have tried to implement this in my local branch but I keep getting an error when I run:
<code>$ python3 manage.py collectstatic </code>
This is one of the steps to implement CKEditor to the websit

[2019-01-30 17:37] jonfroehlich commented on #692
I was thinking something more like what we do here: https://sidewalk-test.cs.washington.edu/labelingGuide

Specifically:
![image](https://user-images.githubusercontent.com/1621749/52000697-92d7d200-2472-11e9-9261-2e4ef830f4eb.png)

And then you click on a thumbnail and it enlarges like this:
![image](https://user-images.githubusercontent.com/1621749/52000723-a3884800-2472-11e9-9c52-ec8586c554b8.pn

[2019-02-02 02:51] htadeusiak commented on #35
^^ I figured this out. I needed to install CKEditor package into the Docker environment and then run collectstatic in the Docker shell.

[2019-02-03 22:45] jonfroehlich commented on #679
This wasn't specific to any one project but a problem that affected all project pages.

[2019-02-10 02:32] htadeusiak commented on #664
I have attached my CSS report. The two major changes I would like to consider is adding a preprocessor and adopt a naming convention. I talk about both of these in the report in more detail. The report is heavily focused on good CSS principles to follow how we should implement them to improve the sites CSS architecture.

[Makeability CSS Report.pdf](https://github.com/jonfroehlich/makeabilitylabwe

[2019-02-10 14:36] jonfroehlich commented on #664
This is *awesome* Hank. Thank you for your work in clearly doing the
background research, exploring tools, writing up a thoughtful report, and
proposing a plan.

I would like to move forward with steps 1 and 2 in your proposal, which
include: "Run all CSS through a CSS analysis tool and fix errors" and "Find
and delete unused CSS." I think we should then engage in a larger
discussion about the oth

[2019-02-11 02:58] higherdefender commented on #664
Thank you for compiling this Hank! I learned from reading your report :)

On Sun, Feb 10, 2019 at 6:36 AM Jon Froehlich <notifications@github.com>
wrote:

[2019-02-11 22:15] htadeusiak commented on #664
Thanks. Would you like me to go through the bootstrap CSS files as well and take out all unused CSS. Or keep it strictly to our CSS files?

[2019-02-11 22:18] jonfroehlich commented on #664
Strictly to ours for now

Sent from my iPhone

[2019-02-14 00:48] jonfroehlich commented on #692
@imiao97 What's the status of this? If you haven't made progress, I'd like @htadeusiak to take over.

[2019-02-14 00:49] jonfroehlich commented on #683
@htadeusiak, this should be fixed with new rich text editor, right?

[2019-02-14 00:51] jonfroehlich commented on #637
@htadeusiak, can you try upgrading your local dev environnment to newest Django release and see if this is still broken?

[2019-02-14 00:52] jonfroehlich commented on #627
Need to mockup some ideas about how to do this. @htadeusiak, this is a more design-oriented task if you want to give it a try...

[2019-02-14 00:58] imiao97 commented on #692
Hello Jon!Thanks for reaching out. I was about to talk to you about it since we missed the meeting yesterday. I have been having a hard time to make time for it. It is interesting to me and seems doable, but it might be better to let someone else to take over if it needs to be done sometime soon. My apologies for the inconvenience and thanks for letting me know! 
Best,I-Miao

Sent from Yahoo Mail

[2019-02-14 04:00] jonfroehlich commented on #692
Thanks @imiao97. I'm unassigning you and assigning @htadeusiak.

[2019-02-14 04:14] htadeusiak commented on #683
Yes. However, if you want to position them in specific spots in the article we'll probably need to look into a CKEditor plug in.

https://ckeditor.com/cke4/addon/easyimage
^ ^ this is the one I was looking at

I would like to get CKEditor working on the production site before we start adding plugins.

[2019-02-14 04:20] jonfroehlich commented on #683
Definitely.

On Wed, Feb 13, 2019 at 8:14 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-14 05:14] htadeusiak commented on #637
I tried 2.2b1, 2.2a1, 2.17, and 2.15. They all gave me the same result.
![screen shot 2019-02-13 at 8 41 46 pm](https://user-images.githubusercontent.com/33988444/52764301-52309a80-2fd4-11e9-9cd6-ce46f2b7ad01.png)

[2019-02-14 05:21] jonfroehlich commented on #637
Can you try to investigate why we are getting this (see Aileen's
investigations above) and a possible solution?

On Wed, Feb 13, 2019 at 9:14 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com

[2019-02-14 05:24] htadeusiak commented on #637
On it

[2019-02-14 19:25] #691 closed

[2019-02-14 19:31] htadeusiak commented on #685
Not sure what happened, I'll fix it again.
![screen shot 2019-02-14 at 11 30 01 am](https://user-images.githubusercontent.com/33988444/52812262-ec7ff500-304b-11e9-9f6e-524ca97ff742.png)

[2019-02-14 19:56] htadeusiak commented on #685
The if statements I added in the original PR were removed that's why this error pop up again. I fixed it, however, I feel like having the title there is bulky and not appealing.
<img width="1439" alt="screen shot 2019-02-14 at 11 44 29 am" src="https://user-images.githubusercontent.com/33988444/52813588-f0f9dd00-304e-11e9-9107-803215f2d4dc.png">

One idea I had was to remove the title from the car

[2019-02-14 20:11] jonfroehlich commented on #685
Yes but just for News page

Sent from my iPhone

[2019-02-14 21:35] htadeusiak commented on #685
Which one? I prefer the one with the banner and no title.

[2019-02-14 21:49] jonfroehlich commented on #685
Me too. Didn’t realize there were multiple options.

Sent from my iPhone

[2019-02-17 00:53] htadeusiak commented on #637
I was able to solve this error by changing `django-image-cropping` in requirements.txt to the most recent version.
`django-image-cropping==1.2.0`

[2019-02-20 22:27] jonfroehlich opened #777 "Make quote size smaller on faq page"
![image](https://user-images.githubusercontent.com/1621749/53129142-a29b8100-351b-11e9-9415-5b5ddc76a964.png)

The quoted text is disproportionately (and weirdly) large.

[2019-02-20 22:28] jonfroehlich opened #778 "Add high school research section to FAQ page"
add high school research section to faq page.

[2019-02-21 02:07] #770 closed

[2019-02-21 14:48] jonfroehlich commented on #778
Working on this here: https://github.com/jonfroehlich/makeabilitylabwebsite/tree/add-highschool-section-to-faq

I screwed something up, however, and it's not rendering correctly. @htadeusiak, can you fix this and then create a pull request and merge?

[2019-02-21 17:47] #778 closed

[2019-02-22 00:20] htadeusiak opened #780 "Remove punctuation from FAQ permalinks"

[2019-02-23 00:03] #769 closed

[2019-02-23 00:08] #685 closed

[2019-02-23 00:10] #637 closed

[2019-02-23 22:44] htadeusiak commented on #692
Thoughts?
![test](https://user-images.githubusercontent.com/33988444/53292586-66655c00-3779-11e9-9446-17ea6e2db65b.gif)
Resizing:
![tst](https://user-images.githubusercontent.com/33988444/53292592-71b88780-3779-11e9-9f52-a766b7a642a0.gif)

[2019-02-23 23:16] jonfroehlich commented on #692
Love it. Woohoo! Is this frontend only or does it require some backend python code too? I imagine the former?

[2019-02-23 23:26] htadeusiak commented on #692
Yup just some HTML, CSS, and JS. Ill make a pr right now.

[2019-02-24 00:06] #780 closed

[2019-02-24 00:06] #777 closed

[2019-02-24 03:02] htadeusiak commented on #692
I realize there's now an error loading the images for the lightbox, I'll look into it.

<img width="1440" alt="screen shot 2019-02-23 at 7 02 00 pm" src="https://user-images.githubusercontent.com/33988444/53294527-8dce2000-379d-11e9-9049-cc2622dd71c2.png">

[2019-02-24 13:39] jonfroehlich commented on #692
Did your fix work? What's a good place to check on the test server? I don't think many of the projects have images on the test server...

[2019-02-24 19:36] htadeusiak commented on #692
No, I'm still getting the same result. I'll keep looking into it.

https://makeabilitylab-test.cs.washington.edu/project/thermography/
^This project has an image gallery.

[2019-02-25 16:48] jonfroehlich opened #785 "Include DOI link in pop-up citation"
If a DOI link exists, include in the pop-up citation

![image](https://user-images.githubusercontent.com/1621749/53353589-ec001d80-38d9-11e9-8e78-6c8862545d75.png)

So, in the above example:

for both formats (human readable text and bibtex).

[2019-03-02 05:13] htadeusiak commented on #663
Hey Jon, not sure what you mean by this. I know there used to be some photo for all the news article banners, I have replaced that with one I find more appealing for the time being. As of right now, there isn't an option to have a specific banner for each news article. Rather there is just one banner used for all news articles.

[2019-03-02 05:23] htadeusiak commented on #663
Or maybe another option is to switch this page to the white navbar theme and ditch the whole banner. But just an idea...
Before:
<img width="1440" alt="screen shot 2019-03-01 at 9 23 13 pm" src="https://user-images.githubusercontent.com/33988444/53677646-44337880-3c68-11e9-8a15-88246909400a.png">
After:
<img width="1440" alt="screen shot 2019-03-01 at 9 21 52 pm" src="https://user-images.githubuse

[2019-03-02 05:51] htadeusiak commented on #582
I went through and deleted all of the obvious duplicated members. There are some members with a lot of empty spaces as shown in the picture below. Should I leave these members or take them out?
<img width="1207" alt="screen shot 2019-03-01 at 9 48 05 pm" src="https://user-images.githubusercontent.com/33988444/53677861-c96c5c80-3c6b-11e9-8b8b-947f3bc5f21e.png">

[2019-03-02 13:29] jonfroehlich commented on #582
Can't answer your question because I'm not sure who these people are in the rows. :)

In terms of duplicates, one concern I have with this is that deleting the person may affect the artifacts that they may be attached to: like paper associations, talk associations, etc.

Instead of deleting duplicates, I was thinking we may want to merge.

[2019-03-02 13:39] jonfroehlich opened #788 "Server Error on Project Pages on Test Server"
![image](https://user-images.githubusercontent.com/1621749/53682747-8c28be80-3cad-11e9-80c1-13b2cbffdf8a.png)

[2019-03-02 13:40] jonfroehlich commented on #663
Yes, I like that idea. No need for banner bar on the news page.

On Fri, Mar 1, 2019 at 9:24 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-02 17:42] htadeusiak commented on #788
I made a change to the models.py for the lightbox and I am working with Jason on it.

[2019-03-02 17:46] jonfroehlich commented on #788
Ah, yes, arguably the most important overarching open Issue on our website
is fixing the backend server so that we can make changes to the underlying
database schema in Django.

https://github.com/jonfroehlich/makeabilitylabwebsite/issues/366

On Sat, Mar 2, 2019 at 9:42 AM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Scien

[2019-03-02 23:07] htadeusiak commented on #724
I want to get the CKEditor up and working on the website before I start working on this, I'll work with Jason on it if thats good with you.

[2019-03-02 23:12] htadeusiak commented on #627
@jonfroehlich do you still want me to tackle this. I feel like this could be a good first project for Ketaki.

[2019-03-02 23:25] htadeusiak commented on #582
When I went through the first time I made sure the duplicates I deleted were not associated with any other objects. There is a feature on the admin page when you go to delete someone is shows the other objects they are asserted with:
![screen shot 2019-03-02 at 3 22 46 pm](https://user-images.githubusercontent.com/33988444/53688858-58768480-3cff-11e9-8631-cbcb7a4d96a1.png)

[2019-03-02 23:25] htadeusiak commented on #582
So as long as a person is not asserted with any other objects (such as news articles and publications) can I go ahead and remove them?

[2019-03-02 23:41] jonfroehlich commented on #582
Right, as long asa person is not associated within object, we can remove them.

Sent from my iPhone

[2019-03-02 23:41] jonfroehlich commented on #627
Sure. I’d want to see mocks first.

Sent from my iPhone

[2019-03-02 23:42] jonfroehlich commented on #724
Sounds good!

Sent from my iPhone

[2019-03-02 23:45] htadeusiak commented on #582
Are 'Ji Hyuk Bae' and 'Sean Bae' the same person. He has a high school profile and undergrad profile, should I combine them?

[2019-03-02 23:46] jonfroehlich commented on #582
Different person! They are brothers! :)

And Ji worked with us both when he was in high school and as a ugrad just like Anthony Li.

Sent from my iPhone

[2019-03-02 23:54] htadeusiak commented on #582
This should be cleared up. All duplicates were removed along with any person object with out being asserted with another object such as a publication or news article.

[2019-03-03 00:26] htadeusiak commented on #785
In the bibtex format the url is the DOI link. Do you want me to leave it as 'url =' or change it to 'doi ='
![screen shot 2019-03-02 at 4 25 21 pm](https://user-images.githubusercontent.com/33988444/53689317-cf178000-3d07-11e9-946e-5b1a98533eea.png)

[2019-03-03 00:35] htadeusiak commented on #785
Ex)
![screen shot 2019-03-02 at 4 27 35 pm](https://user-images.githubusercontent.com/33988444/53689374-2833e380-3d09-11e9-9e27-1276d5078de2.png)

[2019-03-03 00:39] jonfroehlich commented on #785
Do we know for sure it’s always a doi? What does the admin entry field say?

Sent from my iPhone

[2019-03-03 00:43] htadeusiak commented on #785
The DOI link(to the left of the citation link) is formed from using 'pub.url'. There is no DOI url field in admin for creating publications.
![screen shot 2019-03-02 at 4 41 05 pm](https://user-images.githubusercontent.com/33988444/53689404-fd965a80-3d09-11e9-9827-a66aff3bca47.png)

[2019-03-03 00:43] htadeusiak commented on #785
So no its not always DOI, but I'm not sure what else it would be?

[2019-03-03 01:03] #510 closed

[2019-03-03 13:10] jonfroehlich commented on #510
Nice job on this @htadeusiak!

[2019-03-05 00:30] jonfroehlich opened #791 "Makes news headline and news image clickable"
On the News page (https://makeabilitylab.cs.washington.edu/news/), the news headline and news image should be clickable (and should take you to the story).

![image](https://user-images.githubusercontent.com/1621749/53772308-ce632300-3e9a-11e9-92b5-651ab64562ca.png)

[2019-03-05 14:35] jonfroehlich commented on #785
OK, yah, we can make the change in the bibtex pop-up to say doi (no need to
change backend though).

I also want the url to be placed at the end of the plaintext citation in
the pop-up.

On Sat, Mar 2, 2019 at 4:43 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.u

[2019-03-05 19:41] #582 closed

[2019-03-06 00:50] jonfroehlich commented on #618
This is still a problem.

- I think we should have [read more] on its own line.
- Also, we should stop the blurb when we hit a `<br/>` or `<p>`

![image](https://user-images.githubusercontent.com/1621749/53847755-c1ac0100-3f66-11e9-9c64-2f464dae70b9.png)

[2019-03-07 14:01] jonfroehlich opened #793 "On mobile, news entries get cut off on left side"
![image](https://user-images.githubusercontent.com/1621749/53961841-77c63680-409e-11e9-8c17-3f766b0e1f8a.png)

[2019-03-12 19:38] htadeusiak commented on #618
I assume what you mean by the html being improperly rendered is that it has html elements present and it is not just pure text. This should be fixed once CKEditor is added in. It will take out any styles, links, or anything html and only display the pure text in the previews.

I don't think the max number of lines will be fixed from adding CKEditor. However, the test website appears to be limited

[2019-03-12 19:51] htadeusiak commented on #758
I will be un-assigning myself from this issue to focus on other issues. I was not able to solve it, however, I did take a look at it to learn what was going on.

The main reason why the Citation button is not working is because it is missing the essential js files such as publication.js, citationPopover.js, and maybe filterBar.js.

It appears the 'citationPopover.js' file(responsible to creating t

[2019-03-16 00:00] #663 closed

[2019-03-19 16:14] manaswis opened #797 "Publications and awards: personal author images don't show the award overlay as the central publication page"
Main publication page:

![image](https://user-images.githubusercontent.com/2873216/54622715-44cd5c80-4a27-11e9-9238-9ccdb1b62bf5.png)

Publications on author page:

![image](https://user-images.githubusercontent.com/2873216/54622747-57479600-4a27-11e9-8802-f89a4983a144.png)

[2019-03-19 16:29] jonfroehlich commented on #797
Thanks @manaswis. I was aware of this one but I see that it's not encoded as an Issue yet. Thanks for adding it.

[2019-03-20 20:15] htadeusiak commented on #791
If you would like to take a look at this one on the test website and let me know if it looks good

[2019-03-20 20:16] htadeusiak commented on #793
If you would like to take a look at this one on the test website and let me know if it looks good

[2019-03-20 20:16] htadeusiak commented on #785
If you would like to take a look at this one on the test website and let me know if it looks good

[2019-03-20 21:46] htadeusiak commented on #618
I believe I fixed this. If you would like to take a look at this one on the test website and let me know if it looks good. I copy and pasted the html the recent article about Alieen to the test site so you can see how it would affect that.

[2019-03-20 21:59] jonfroehlich commented on #618
Looks good!

On Wed, Mar 20, 2019 at 2:47 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-20 22:34] #618 closed

[2019-03-20 22:45] htadeusiak commented on #664
I am un-assigning myself from this after speaking with Jon. All that has been done is (1) any unnecessary css selectors were removed;(2) the format of the CSS files were updated. They are now formatted to 2 space indenting and a line between each selector.

Going forward, I would refer to the pdf I have attached. It has proposed steps explaining them in detail. Then next step would 3 in the docume

[2019-03-20 22:48] htadeusiak commented on #683
I am un-assigning myself from this after speaking with Jon. I never really attempted issue. However, I do know that this can be easily achieve after CKEditor installed. As stated above.

[2019-03-20 23:35] jonfroehlich commented on #683
Yes, I think the solution is to use the CKEditor plugin that @htadeusiak got working in a local branch.

[2019-03-21 00:52] htadeusiak commented on #724
After speaking with Jon I'm un-assigning my self from this issue. I never got around to it because the rich text editor was not installed. I recommend attempting this issue after CKEditor is installed on the production site.

[2019-03-21 13:06] jonfroehlich commented on #791
I think it looks good. Thanks.

[2019-03-21 13:06] #791 closed

[2019-03-21 13:10] jonfroehlich commented on #793
I'm testing on my laptop by shrinking my window and I still think this could be improved.

For example: https://makeabilitylab-test.cs.washington.edu/news/51/. The 'main-content' still needs a few more pixel increase in the left-margin. Also, the 'Recent News' part needs the same left-margin as the 'main-content'

![image](https://user-images.githubusercontent.com/1621749/54753996-b03a3a00-4b9f-11

[2019-03-21 18:46] htadeusiak commented on #35
I'm un-assigning myself after speaking with Jon. This issue should be solved after merging PR #773

It will likely require consulting Jason to make sure it is properly installed on the test and production servers.

[2019-03-21 20:53] htadeusiak commented on #793
How does this look? Would you like even more left margin?

![resize](https://user-images.githubusercontent.com/33988444/54784251-98cf7100-4be0-11e9-871e-842d26b1b98c.gif)

[2019-03-21 20:54] jonfroehlich commented on #793
Looks great but I can't see the 'Recent News' part--it gets cut off in your
video.

On Thu, Mar 21, 2019 at 1:53 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-21 20:58] htadeusiak commented on #793
I fixed it so it has all the same margin. Is there anything else or are you good if a push then merge?
![Screen Shot 2019-03-21 at 1 58 17 PM](https://user-images.githubusercontent.com/33988444/54784533-5d817200-4be1-11e9-97ac-8f2ccb3a9344.png)

[2019-03-21 21:05] jonfroehlich commented on #793
looks great! thanks.

On Thu, Mar 21, 2019 at 1:58 PM Hank Tadeusiak <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-21 21:05] jonfroehlich commented on #793
yes, push then merge please

On Thu, Mar 21, 2019 at 2:04 PM Jon Froehlich <jonf@cs.washington.edu>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-21 21:31] htadeusiak commented on #692
In my most recent PR (PR #787), I made changes to the 'models.py' file. I created another option in the admin interface to upload a 'high quality' photo.

The image cropping plugin that Django uses has a set pixel width and height for photos in photo galleries(I believe it's something like 340x275). This prevents them from being able to show a high quality photo. Until the Postgres and Django issu

[2019-04-19 23:31] ketakideuskar opened #803 "Issue installing Docker - Permission denied: '/code/media/debug.log'"
While installing Docker, I had an issue when running `make makemigrations`. I keep running into this error - `Permission denied: '/code/media/debug.log'`. When I looked at the permissions for the /code/media folder in the docker shell, I found: `drwxr-xr-x  1   1000 staff   170 Apr 11 23:56 media`. However, all of the other files look like they are owned by apache (ex: `-rw-r--r--  1 apache root

[2019-04-22 12:58] jonfroehlich opened #804 "Can't set start date to a future date for Makeability Lab member"
For some reason, I can't set this user's start date to the future (even though I am able to do this with other Makeability Lab members): https://makeabilitylab.cs.washington.edu/admin/website/person/547/change/. I tried setting it to June 20, 2019 but then received a Server Error (500) when I tried to load the people webpage.

[2019-06-26 00:15] jonfroehlich opened #805 "Write Google Forms/Sheets Script to email me actual content data when a student applies to the Makeability Lab"
Write Google Forms/Sheets Script to email me actual content data when a student applies to the Makeability Lab.

Currently, this is all I receive:

![image](https://user-images.githubusercontent.com/1621749/60142032-dd812000-976c-11e9-82f7-6cc079faab7b.png)

Would be super useful to receive a summary of their responses (or full responses, nicely formatted) + attachments.

[2019-06-27 12:59] jonfroehlich opened #806 "Grad mentor should include research scientists"
We should be able to select 'Mikey' as a grad mentor

![image](https://user-images.githubusercontent.com/1621749/60268207-bc215080-98a0-11e9-8fad-bd3bff236772.png)

[2019-07-31 13:28] jonfroehlich commented on #785
Ugh, I just ran into needing this again and saw that you fixed it @htadeusiak but I don't think your fixes ever got propagated to production.

I'm waiting on @johnsonkuang before doing any more merging--he's trying to fix the epic https://github.com/jonfroehlich/makeabilitylabwebsite/issues/366

[2019-07-31 14:02] jonfroehlich opened #808 "Make it possible to add publications to Makeability Lab backend but only show those publications on project pages"
Sometimes, we have papers that come out from an NSF grant but it's not from a Makeability Lab member and no Makeability Lab members are listed as co-authors; however, it's still useful to have these papers show up on the project webpage. Two concrete examples:

- Jin Sun's dissertation: _Finding Objects in Complex Scenes_. https://drum.lib.umd.edu/handle/1903/21164
- J. Sun and D. W. Jacobs, "Seei

[2019-08-01 05:00] johnsonkuang opened #809 "Tool-tip needed for adding positions when people"
Small issue found during testing. When adding a new person, the developer must also add a position. Example shown below:

### When trying to add person
Console
`web_1  | PositionInline.formfield_for_foreignkey: db_field: website.Position.grad_mentor db_field.name grad_mentor request: <WSGIRequest: POST '/admin/website/person/add/?_to_field=id&_popup=1'>`

[![Image from Gyazo](https://i.gyazo.com/b

[2019-08-02 04:59] jonfroehlich commented on #809
Can you update the title to this Issue so that it is more understandable?

[2019-08-02 05:02] jonfroehlich opened #810 "Under project thumbnails, have project name AND a date range"
![image](https://user-images.githubusercontent.com/1621749/62345609-d48c1880-b4a7-11e9-9bd9-84f87b35d313.png)

Could also have other metadata (e.g., lead grad student) but this could get messy. I think the date range in light gray (like we have in the second row of text under video thumbnails) would look nice.

![image](https://user-images.githubusercontent.com/1621749/62345651-fe453f80-b4a7-11e9-

[2019-08-05 20:22] jonfroehlich commented on #366
@johnsonkuang has been working on this and believes he may have a fix https://github.com/jonfroehlich/makeabilitylabwebsite/pull/807

[2019-08-13 14:01] jonfroehlich commented on #806
Actually, I think Grad Mentor should be changed to simply Mentor so that we can select any active member (or maybe even collaborator) as a mentor

![image](https://user-images.githubusercontent.com/1621749/62947730-e323db00-bd97-11e9-907c-45840dacd37c.png)

[2019-08-13 14:02] jonfroehlich commented on #806
I would also consider adding a co-mentor blank.

[2019-08-19 21:22] jonfroehlich commented on #531
Something like the following to class Talk

[code]

[2019-08-21 21:40] jonfroehlich opened #812 "Add pub venue url"
Add pub venue url

![image](https://user-images.githubusercontent.com/1621749/63470480-a011d980-c421-11e9-8d4f-fb75b8b2e904.png)

e.g., https://assets19.sigaccess.org/ai_fairness_workshop.html for the example above

[2019-08-28 13:48] jonfroehlich opened #813 "Need to update Docker instructions in README.md given Johnson's new changes"
Need to update Docker instructions in README.md given @johnsonkuang's new changes.

@johnsonkuang, can you do this?

[2019-08-28 23:39] jonfroehlich opened #815 "ValueError: Unable to configure handler 'file'"
I was attempting to test @johnsonkuang's new Docker changes (#366) but I ran into a problem on the `docker exec -it makeabilitylabwebsite_website_1 bash` step. I received a `ValueError: Unable to configure handler 'file'`--which is triggered by how we are configuring our logger. Full error message below. @johnsonkuang, have you seen this?

[code]

I

[2019-08-28 23:43] johnsonkuang commented on #815
Yes, it has to do with a volume mount that doesn’t actually exist in the development environment. I believe we’ll have to communicate with Jason on maintaining separate docker-compose files or set the volume mount somewhere else.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Wednesday, August 28, 2019 4:39:55 PM
To

[2019-08-28 23:46] jonfroehlich commented on #815
OK... but in the short term, how should I get my local dev environment setup? Should I comment out the logging support? What did you do?

[2019-08-28 23:48] johnsonkuang commented on #815
I resolved the issue by removing the mount from the docker compose file. It should be the volumes section of the website service and should contain /code/media/debug.log

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jon Froehlich <notifications@github.com>
Sent: Wednesday, August 28, 2019 4:46:30 PM
To: jonfroehlich/makeabilitylabwebsite <makeabilitylabwebsite@

[2019-08-28 23:57] jonfroehlich commented on #815
Not sure I understand. Can you provide more detailed step-by-step instructions to fix this on the local dev environment?

[2019-08-29 00:01] johnsonkuang commented on #815
website:
    build:
      context: .
      dockerfile: Dockerfile
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - '127.0.0.1:8571:8000'
    volumes:
      - .:/code
      - /cse/web/research/makelab/www-test:/code/media << delete this line

[2019-08-29 01:57] jonfroehlich commented on #815
OK, this worked. I commented it out with the `#` sign.

I'm keeping this Issue open because we need a better solution to support logging on localhost in dev environments.

[2019-08-29 01:58] jonfroehlich commented on #809
@johnsonkuang, I still don't understand this Issue and the title of 'Tool-tip needed for adding positions when people' doesn't make sense. When people what?

[2019-08-29 02:06] jonfroehlich commented on #762
@higherdefender, can you do this?

[2019-08-29 02:07] jonfroehlich commented on #724
And @johnsonkuang is now working on integrating the CKEditor, so we can loop around to this after that.

[2019-09-18 19:53] #809 closed

[2019-09-18 21:55] jonfroehlich opened #816 "Uploading images in new CKEditor doesn't work"
Uploading images in new CKEditor doesn't work on makeabilitylab-test. @johnsonkuang did you test this functionality?

![image](https://user-images.githubusercontent.com/1621749/65188871-3ab30780-da24-11e9-9845-5e870325bc0f.png)

[2019-09-18 21:59] johnsonkuang commented on #816
Interesting, maybe it's because our static file path is different on the server compared to locally

[2019-09-18 22:00] johnsonkuang commented on #816
I'm personally not familiar with the CKEditor libraries, so this might take some pre-reading

[2019-09-18 22:01] jonfroehlich commented on #816
Did it work for you locally?

On Wed, Sep 18, 2019 at 3:00 PM johnsonkuang <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2019-09-24 18:45] johnsonkuang commented on #816
This worked fine locally. I could upload images and choose images from the server. This leads me to suspect that our media link on the test server may be setup differently and that we might need to change it because we're just use a database dump in test right now.

[2019-09-24 19:00] jonfroehlich commented on #816
OK... can you fix it? Or what do you propose we do?

On Tue, Sep 24, 2019 at 11:45 AM johnsonkuang <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2019-09-24 19:02] johnsonkuang commented on #816
I’ll have to talk to Jason, because local behavior is different from the test server behavior

From: Jon Froehlich <notifications@github.com>
Reply-To: jonfroehlich/makeabilitylabwebsite <reply@reply.github.com>
Date: Tuesday, September 24, 2019 at 12:00 PM
To: jonfroehlich/makeabilitylabwebsite <makeabilitylabwebsite@noreply.github.com>
Cc: johnsonkuang <johnsonkuang@outlook.com>, Assign <assign@

[2019-09-24 19:17] jonfroehlich commented on #816
How about for the production server too?

On Tue, Sep 24, 2019 at 12:02 PM johnsonkuang <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2019-09-26 12:34] jonfroehlich commented on #620
This commit by @johnsonkuang may be helpful here: https://github.com/jonfroehlich/makeabilitylabwebsite/blob/1f04f88cafa0653548f2910d493bd94341707d0e/website/serializers.py

[2019-11-01 22:23] jonfroehlich commented on #366
Note: this is almost fully addressed. Need to push to production. Works on test.

[2019-11-06 11:19] AMS-JR commented on #253
add class item to to each carousel slide. So you will have carousel-item and item class. Something like this  <div class="carousel-item item" >. Works

[2019-11-06 11:21] AMS-JR commented on #253
add  item to each carousel slide class. So you will have carousel-item and item class for each slide. Works

[2019-11-08 23:17] jonfroehlich commented on #813
closed via https://github.com/jonfroehlich/makeabilitylabwebsite/commit/938bdb7a45351729a27c4096ea65d36b540ba5c4

[2019-11-08 23:20] #788 closed

[2019-11-08 23:30] jonfroehlich opened #819 "Tried to release version 0.3.3 of website and failed"
Received this email

Also, I can't view the buildlog.txt here: https://makeabilitylab.cs.washington.edu/logs/buildlog.txt
![image](https://user-images.githubusercontent.com/1621749/68517454-80c66380-023c-11ea-9387-a47a18ab59d7.png)

[2019-11-09 00:46] mechanicjay commented on #819
The latest upgrade to Centos 7.7 wiped out the newer version of docker-compose needed to read docker-compose.yml file.  I've installed a newer version docker-compose and was able to build the new image and deploy the updated image.

This turned out to be a complete disaster as this tag pulls in the docker-compose work and the dockerized postgres work that was done over the summer and never deploye

[2019-11-23 13:24] jonfroehlich commented on #366
This now appears to be fixed. Huge thanks to @johnsonkuang and to @mechanicjay and @aileenzeng. Yay!

[2019-11-23 13:24] #366 closed

[2019-11-23 13:28] jonfroehlich commented on #819
@mechanicjay fixed this. Thanks Jason!

[2019-11-23 13:28] #819 closed

[2019-11-23 13:32] jonfroehlich commented on #816
Just tested this. Works on production.

[2019-11-23 13:32] #816 closed

[2019-11-23 13:41] jonfroehlich commented on #797
Also an issue for project pages:

https://makeabilitylab.cs.washington.edu/project/anchoredaudiosampling/

[2019-11-23 14:13] jonfroehlich commented on #813
Just tested these instructions on both Mac and Windows. They work!

However, we do need to comment out the volume mount to CSE when running localhost dev:

![image](https://user-images.githubusercontent.com/1621749/69479972-4ae6ba80-0db8-11ea-8ef2-5aa9e510f8af.png)

[2019-11-23 14:13] #813 closed

[2019-11-23 14:22] jonfroehlich commented on #785
Fixed and tested! Thanks @htadeusiak.

![image](https://user-images.githubusercontent.com/1621749/69480148-98aff280-0db9-11ea-9cdb-924b8223033a.png)

[2019-11-23 14:22] #785 closed

[2019-11-23 14:24] jonfroehlich commented on #683
This is now fixed with the CKEditor. You can add arbitrary number of images to the News post (with alt text support, yay!). Thanks @htadeusiak.

![image](https://user-images.githubusercontent.com/1621749/69480170-dca2f780-0db9-11ea-847b-fd7f90289762.png)

[2019-11-23 14:24] #683 closed

[2019-11-24 13:59] jonfroehlich opened #820 "Project names that roll onto two lines break gallery display"
In this case, the offending project is 'Deep Learning for Sidewalk Assessment'

![image](https://user-images.githubusercontent.com/1621749/69495775-754f7b00-0e7f-11ea-9b10-efab99919148.png)

[2019-11-24 14:02] jonfroehlich commented on #804
I can't seem to reproduce this. Will reopen if I run into it again.

[2019-11-24 14:02] #804 closed

[2019-11-24 14:11] jonfroehlich commented on #797
Deployed on test server.

[2019-11-24 14:11] #797 closed

[2019-11-24 14:13] jonfroehlich commented on #758
This is still a problem and needs to be fixed.

[2019-11-24 14:20] jonfroehlich commented on #578
Looks fixed now.

[2019-11-24 14:20] #578 closed

[2019-11-24 14:22] jonfroehlich commented on #495
Done (quite a long time ago but Issue never got closed).

[2019-11-24 14:22] #495 closed

[2019-11-24 14:26] jonfroehlich commented on #758
Interestingly, the pop-up works on the home page...

![image](https://user-images.githubusercontent.com/1621749/69496111-64086d80-0e83-11ea-83eb-4093261d9740.png)

[2019-11-24 14:36] jonfroehlich commented on #758
But it is broken on member pages and individual project pages... I think because those pages don't include a massive chunk of publication related javascript code. Like this in `index.html`

[code]

[2019-11-24 14:47] jonfroehlich opened #821 "When PI status not properly set, project pages crash?"
To reproduce, go on test server and click on GlassEar project...

Still trying to figure out what's going on here:

[code]

![image](https://user-images.githubusercontent.com/1621749/69496362-44bf0f80-0e86-11ea-98ab-394df72c4c05.png)

[2019-11-24 14:57] jonfroehlich opened #822 "Project order on front page should be based on most recent pub date"

[2019-11-24 14:58] jonfroehlich opened #823 "Project listing under person should be based on number of pubs that person has contributed to for that project"

[2019-11-25 15:11] jonfroehlich opened #824 "Award overlays on projects don't look right on safari"
Safari:
![image](https://user-images.githubusercontent.com/1621749/69552141-c9775f80-0f52-11ea-8532-87b1ceda96e9.png)

Chrome:

![image](https://user-images.githubusercontent.com/1621749/69552168-d6944e80-0f52-11ea-9ac3-b87e1191b0e1.png)

[2019-11-25 15:12] #822 closed

[2019-11-25 15:12] #823 closed

[2019-11-25 15:18] jonfroehlich opened #825 "Add PrototypAR STEM video to website"
https://stemforall2019.videohall.com/presentations/1567

[2019-11-25 17:31] jonfroehlich commented on #825
I could find the vimeo link for our BodyVis video but not PrototypAR:  https://vimeo.com/164630179

[2019-11-25 17:32] jonfroehlich commented on #810
Done.

![image](https://user-images.githubusercontent.com/1621749/69563711-77d8d000-0f66-11ea-8aaf-ccefb71d0112.png)

[2019-11-25 17:32] #810 closed

[2019-11-25 17:33] jonfroehlich commented on #820
Fixed by forcing line clamp to one line

![image](https://user-images.githubusercontent.com/1621749/69563811-a3f45100-0f66-11ea-8617-6a5ea0f4a38e.png)

[2019-11-25 17:33] #820 closed

[2019-11-25 17:45] jonfroehlich commented on #684
fixed!

[2019-11-25 17:45] #684 closed

[2019-11-25 18:00] jonfroehlich opened #826 "Can't access /code/media/projects on Windows dev environment with Docker"
Can't access /code/media/projects on Windows dev environment with Docker

[code]
![image](https://user-images.githubusercontent.com/1621749/69565697-5d085a80-0f6a-11ea-91e4-2fab05e4c717.png)

[2019-11-25 18:08] jonfroehlich commented on #825
Seokbin said:

This is the link to the vimeo w/o the video detail. I think the full vimeo page doesn't exist this year

[2019-11-25 19:05] jonfroehlich commented on #696
I didn't end up special casing this. Instead, I wrote generalizable code that looks for *contiguous* membership in the lab. If membership was not continuous, we print out the most recent contiguous start date. See `contiguous_constraint` in `get_earliest_member_position`

[2019-11-25 19:06] jonfroehlich commented on #825
Need to add both BodyVis and PrototypAR:
- BodyVis: https://vimeo.com/164630179
- PrototypAR: https://player.vimeo.com/video/332772744

[2019-11-25 19:20] #747 closed

[2019-11-25 19:26] jonfroehlich commented on #688
Maybe July 2018?

[2019-11-25 19:32] jonfroehlich commented on #688
Added new position with her Associate professorship, which changed the display from:
![image](https://user-images.githubusercontent.com/1621749/69571484-01909980-0f77-11ea-9aff-a28a96ed601c.png)

to:
![image](https://user-images.githubusercontent.com/1621749/69571595-3997dc80-0f77-11ea-8d6d-de04081cf89b.png)

However, now the calculations for how long she's been a collaborator are wrong... stay tu

[2019-11-25 19:47] jonfroehlich commented on #688
This is actually related to https://github.com/jonfroehlich/makeabilitylabwebsite/issues/696

Changed code I wrote for that to be more generalized. Checking in now.

[2019-11-25 19:52] #716 closed

[2019-11-25 20:05] jonfroehlich commented on #227
The ordering is done  in `views.py` with the dict() objects like `map_status_to_title_to_people`

[2019-11-25 20:16] jonfroehlich commented on #825
Added support for vimeo videos and then added both BodyVis and PrototypAR. Yay!

[2019-11-25 20:16] #825 closed

[2019-11-25 20:21] jonfroehlich commented on #696
Fixed.

![image](https://user-images.githubusercontent.com/1621749/69574861-086eda80-0f7e-11ea-99b7-ce1852222baf.png)

[2019-11-25 20:21] #696 closed

[2019-11-25 20:26] jonfroehlich commented on #619
Done.

![image](https://user-images.githubusercontent.com/1621749/69575292-d14cf900-0f7e-11ea-8ee5-98633a5eb8ca.png)

[2019-11-25 20:26] #619 closed

[2019-11-25 20:28] jonfroehlich commented on #656
Done. Though I still question whether this puts too much emphasis on projects with awards (all projects have merit!!!).

![image](https://user-images.githubusercontent.com/1621749/69575387-fc374d00-0f7e-11ea-8da0-3b164ea1e26c.png)